<h3>
Rekap absensi anda minggu ini
<%= link_to self_path,:class=>"btn btn-default btn-sm pull-right" do %>
	<i class="glyphicon glyphicon-list"></i> Lihat semua
<% end %>

</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Waktu</th>
			<th>Masuk</th>
			<th>Keluar</th>
			<th>Keterangan</th>
		</tr>
	</thead>
	<tbody>
	<% @days_from_this_week.each do  |day| %>
		<% @data = Presence.where(date:day,employee_id:current_user.employee_id).first %>
		<tr>
			<td><%= I18n::localize(day,:format=>"%A, %e %b %Y") %></td>

			<% @absen = Presence.find_date_employee(day,current_user.employee_id) %>
				<%  if @absen.present? %>

	      	<% if @rangein === @absen.in.strftime('%H:%M') %>
	      		<td style="background:#E0F9E0" class="ontime" style="width:50px">
	      	<% else %>
	      		<td style="background:#F9E0E0"class="late" style="width:50px">
	      	<% end %>
			      <%= @absen.in.strftime('%H:%M') %>
		      </td>
					
					<!-- OUT -->
		      <% if @rangeout === @absen.out.strftime('%H:%M') %>
	      		<td style="background:#E0F9E0" class="ontime" style="width:50px">
	      	<% else %>
	      		<td style="background:#F9E0E0"class="late" style="width:50px">
	      	<% end %>
			      <%= @absen.out.strftime('%H:%M') %>
		      </td>
		    <% else %>
		      <td style="width:50px">-</td>
		      <td style="width:50px">-</td>
	      <% end %>
	      <td></td>
		</tr>
	<% end %>
	</tbody>
</table>