
<h3>
Pengumuman Bulan <%= I18n::localize(Date.today,:format=>"%B") %>
<%= link_to news_index_path,:class=>"btn btn-default btn-sm pull-right" do %>
  <i class="glyphicon glyphicon-list"></i> Lihat semua
<% end %>
</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Pengumuman</th>
        </tr>
      </thead>
      <tbody>
        <% @no = 1 %>
        <% @news.each do |news| %>
          <tr>
            <td><%= @no %></td>
            <td><%= link_to news.title, news_path(news) %> <span>(<%= news.created_at.strftime("%d %b %Y") %>)</span></td>
          </tr>
        <% @no = @no+1 %>
        <% end %>
      </tbody>
    </table>
  </div>