<div class="hide-print">
<h3>Detail Absensi <small>Pegawai</small></h3>
<hr>
<ul class="list-group">
  <li class="list-group-item">
  <%= form_for :report, url: report_path,:remote => false, :html => { :method => 'GET' } do %>
    <div class="input-group">
    	<span class="input-group-addon">
        Pegawai
      </span>
      <%= select(:report, :employee_id, Employee.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'pilih pegawai'},:class=>"form-control no-border-radius") %>
      <span class="input-group-addon">
        dari
      </span>
      <%= date_field(:report, :start,:class=>"form-control",:required=>true) %>
      <span class="input-group-addon">
        sampai
      </span>
      <%= date_field(:report, :end,:class=>"form-control",:required=>true) %>
      <span class="input-group-btn">
        <%= submit_tag "Cari", class: "btn btn-primary",name: nil %>
      </span>
    </div><!-- /input-group -->  
  <% end %>
  </li>
</ul>
</div>