<div class="col-md-12">
  <div class="page-header">
    <h1>Selamat datang <strong><%= current_user.employee.name.titleize if current_user.employee.present? %></strong></h1>
  </div>
  <% if admin? %>
	<h3>
	Grafik absensi minggu ini
	<%= link_to presence_path(:page=>"stats"),:class=>"btn btn-default btn-sm pull-right" do %>
		<i class="glyphicon glyphicon-list"></i> Lihat detil
	<% end %>

	</h3>
	<div id="statschart" data-stats="<%=raw @stats.to_json %>"></div>
	<script >

	$(document).ready(function(){
		// alert(JSON.stringify($('#detilresultchart').data('stats')))
		json_stats = <%=raw @stats.to_json %>
		new Morris.Area({
		  element: 'statschart',
		  data: json_stats,
		  xkey: 'tanggal',
	  ykeys: ['in','out','latein','lateout'],
	  labels: ['Masuk','Keluar','Terlambat masuk','Terlambat keluar']
		});
	});
	//]]>
	</script>
	<% end %>
</div>


<div class="col-md-12">
  <%= render 'news' %>
</div>
<div class="col-md-12">
  <%= render 'dashboard_presence' %>
</div>