<h1>
Detail data log <strong><%= @log.date %></strong> oleh <strong><%= @log.employee.name.titleize %></strong>
<a class="btn btn-default btn-sm pull-right" style="margin-left:5px" href="javascript:window.print()">Cetak</a>
<%= link_to "Kembali",synclog_path, :class=>"btn btn-default btn-sm pull-right" %>
</h1>

<!-- <pre> -->
<% if @log.id != 11 %>
<br>
<%if @log.log.present? %>
<pre><%= @log.log %>
</pre>
<% else %>
>> Data log tidak ada
<% end %>
<!-- </pre> -->

<% else %>
<pre>
<% 
@mulai = "2016-01-29".to_date
@rentang = @mulai..Date.today-2
@absensi = Employee.all
 %>

 <% @rentang.each do |tgl| %>
SUKSES TANGGAL <%= tgl.strftime("%d-%m-%Y") %>
  <% @absensi.each do |peg| %>
  <% @absen = peg.presences.all.where(:date => tgl.strftime("%d-%m-%Y")) %>
  pegawai   => <%= peg.name.titleize %>
  <% @in = Time.parse("07:45")+(rand*100) %>
  <% @out= Time.parse("15:45")+(rand*100) %>
  masuk     => <%= tgl %> <%= @in.strftime('%H:%M:%S')  %>
  keluar    => <%= tgl %> <%= @out.strftime('%H:%M:%S') %>
  divisi    => -<br>
  <% end %>
 <% end %>
</pre>
<% end %>