<h1>
	Riwayat Singkronisasi
	
	<%= link_to "Kembali",presence_path, :class=>"btn btn-default btn-sm pull-right" %>
</h1>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>No</th>
				<th>Tanggal</th>
				<th>Oleh</th>
				<th>Log</th>
			</tr>
		</thead>
		<tbody>
			<% @no = 1 %>
			<% Sync.all.each do |data| %>
			<tr>
				<td>
					<%= @no %>
				</td>
				<td>
					<%= data.date %>
				</td>
				<td>
					<%= data.employee.name.titleize %>
				</td>
				<td>
					<%= link_to "Lihat" ,showlog_path(data.id) %>
				</td>
			</tr>
			<% @no = @no+1 %>
			<% end %>
		</tbody>
	</table>
</div>