<%= form_for(@time_table) do |f| %>
  <% if @time_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_table.errors.count, "error") %> prohibited this time_table from being saved:</h2>

      <ul>
      <% @time_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :begining_in,"Awal Masuk" %><br>
    <%= f.time_select :begining_in,:class=>"form-control"   %>
  </div>
  <div class="form-group">
    <%= f.label :endding_in,"Akhir Masuk" %><br>
    <%= f.time_select :endding_in ,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :begining_out,"Awal Keluar" %><br>
    <%= f.time_select :begining_out,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ending_out,"Akhir Keluar" %><br>
    <%= f.time_select :ending_out ,:class=>"form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary" %>
  </div>
<% end %>
