<h1>Pengaturan Waktu Masuk Kerja</h1>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <% @timetable = TimeTable.first if TimeTable.first.present? %>
    <tbody>
      <tr>
        <td>Awal Jam Masuk</td>
        <td>:</td>
        <td>
          <%= @timetable.begining_in.strftime("%I:%M:%S %p") %>
        </td>
      </tr>
      <tr>
        <td>Akhir Jam Masuk</td>
        <td>:</td>
        <td><%= @timetable.endding_in.strftime("%I:%M:%S %p") %></td>
      </tr>
      <tr>
        <td>Awal Jam Keluar</td>
        <td>:</td>
        <td><%= @timetable.begining_out.strftime("%I:%M:%S %p") %></td>
      </tr>
      <tr>
        <td>Akhir Jam Keluar</td>
        <td>:</td>
        <td><%= @timetable.ending_out.strftime("%I:%M:%S %p") %></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <table class="table">
  <tbody>
    <% @time_tables.each do |time_table| %>
      <tr>
        <td><%= time_table.begining_in %></td>
        <td><%= time_table.endding_in %></td>
        <td><%= time_table.begining_out %></td>
        <td><%= time_table.ending_out %></td>
        <td><%= link_to 'Show', time_table %></td>
        <td><%= link_to 'Edit', edit_time_table_path(time_table) %></td>
        <td><%= link_to 'Destroy', time_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->

<% if TimeTable.first.present? %>
<%= link_to 'Edit Waktu', edit_time_table_path(@timetable),:class=>"btn btn-primary" %>
<% else %>
<%= link_to 'Tambah Data Waktu', new_time_table_path %>
<% end %>
