<p id="notice"><%= notice %></p>

<p>
  <strong>Begining in:</strong>
  <%= @time_table.begining_in.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>Endding in:</strong>
  <%= @time_table.endding_in.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>Begining out:</strong>
  <%= @time_table.begining_out.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>Ending out:</strong>
  <%= @time_table.ending_out.strftime("%I:%M:%S %p") %>
</p>

<%= link_to 'Edit', edit_time_table_path(@time_table) %> |
<%= link_to 'Kembali', time_tables_path %>
