<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name,"Nama Libur" %><br>
    <%= f.text_field :name ,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :date,"Tanggal Libur" %><br>
    <%= f.date_select :date,:class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", :class=>"btn btn-primary" %>
  </div>
<% end %>
