<h1>
  Data Hari Libur
  <%= link_to 'Tambah Hari Libur', new_holiday_path,:class=>"btn btn-primary pull-right" %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Libur</th>
      <th>Tanggal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.name %></td>
        <td><%= holiday.date.strftime('%d %B') %></td>
        <td><%= link_to 'Edit', edit_holiday_path(holiday),:class=>"edit" %></td>
        <td><%= link_to 'Hapus', holiday, method: :delete,:class=>"destroy", data: { confirm: 'Yakin dihapus??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


