<%= form_for(:session, url: login_path) do |f| %>
	<div class="form-group">
	  <%= f.text_field :name, class: 'form-control',:placeholder => "user", :autofocus => true %>
	  <span class="help-block">Masukan username.</span>
	</div>
	
	<div class="form-group">
	  <%= f.password_field :password, class: 'form-control',:placeholder => "password" %>
	  <span class="help-block">Masukan password.</span>
	</div>

	<div class="form-group">
		<%= f.check_box :remember_me  %> Selalu masuk
	</div>
	  
	<div class="form-group">
		<%= f.submit "Masuk", class: "btn btn-danger" %>
	</div>
<% end %>