<% if @status == true %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= @message %>
  <%= link_to "Lihat detil log",showlog_path(Sync.last.id) %>
</div>
<% else %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= @message %>
  <%= link_to "Lihat detil log",showlog_path(Sync.last.id) %>
</div>
<% end %>