console.log(<%= @Response %>);
statusfp = $('#statusfp');
repeatbtn = $('#repeat');
syncfp = $('#syncfp')

$('#repeat').bind('ajax:success', function() {
	<%if @Response == true %>
		syncfp.removeAttr('disabled')
		repeatbtn.attr('disabled','true')
		statusfp.html('Koneksi fingerprint aktif, anda bisa lakukan singkronisasi sekarang!')
		statusfp.parent().removeClass('list-group-item-danger').addClass('list-group-item-success')
		console.log("Fingerprint aktif")
	<% else %>
		syncfp.attr('disabled','true')
		repeatbtn.removeAttr('disabled')
		console.log("Fingerprint tidak aktif")
		statusfp.html('Koneksi fingerprint tidak aktif, harap periksa keaktifan mesin dan konfigurasi mesin!')
		statusfp.parent().addClass('list-group-item-danger')
	<% end %>
});
