<div class="table-responsive">
  <table class="table" id="educationData">
    <thead>
      <tr>
        <th>No</th>
        <th>Jenjang</th>
        <th>No Surat Perjanjian</th>
        <th>Unit Pendidikan</th>
        <th>Jurusan</th>
        <th>Tahun Lulus</th>
        <% if admin? || current_user.employee.id == @employee.id %>
        <th>Dokumen</th>
        <% end %>
        <% if admin? %>
        <td></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @no = 1 %>
      <% @employee.educations.each do |pend| %>
      <tr id="education_<%= pend.id %>">

        <td><%= @no%> </td>
        <td>
          <% if pend.education_level_id.present? %>
            <%= pend.education_level.name %>
          <% else %>
            -----
          <% end %>
        </td>
        
        <td><%= pend.number %></td>
        <td><%= pend.graduate %></td>
        <td><%= pend.departement %></td>
        <td><%= pend.year %></td>
        <% if admin? or current_user.employee.id == @employee.id %>

        <td>
          <% if pend.document.present? %>
            <a href="<%= pend.document %>"target="_blank"style="color:green !important"data-image="<%= pend.document_url %>">Ada</a>
          <% else %>
            <div style="color:red">Tidak ada</div>
          <% end %>
        </td>
        <% end %>
         <% if admin? %>
        <td class="hide_print">
          <%= link_to 'Edit', edit_employee_education_path(@employee,pend) ,:class=>"edit edit_education",data: {remote: true,disable_with: "proses..."}%>
          <%= link_to 'Hapus', employee_education_path(@employee,pend), method: :delete, :class=>"destroy hapus_education",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
        </td>
        <% end %>
      </tr>
      <% @no = @no +1 %>
      <% end %>
    </tbody>
  </table>
</div>
