<div class="table-responsive">
  <table class="table"id="certificationData">
    <thead>
      <tr>
        <th>No</th>
        <th>No. Sertifikat</th>
        <th>No. Registrasi</th>
        <th>Tahun</th>
         <% if admin? or current_user.employee.id == @employee.id  %>
        <th>Dokumen</th>
        <% end %>

        <% if admin? %>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @no = 1 %>
      <% @employee.certifications.each do |certification| %>
        <tr id="certification_<%= certification.id %>">
          <td><%= @no %></td>
          <td><%= certification.certificate_number %></td>
          <td><%= certification.reg_number %></td>
          <td><%= certification.year %></td>
          
           <% if admin? or current_user.employee.id == @employee.id  %>
          <td>
            <% if certification.document.present? %>
              <a href="<%= certification.document %>"target="_blank"style="color:green !important">Ada</a>
            <% else %>
              <div style="color:red">tidak ada</div>
            <% end %>
          </td>
          <% end %>

          <% if admin? %>
          <td class="hide_print">
            <%= link_to 'Edit',edit_certification_path(certification), :class=> 'edit edit_certification', data: {remote: true,disable_with: "proses..."} %>
            <%= link_to 'Hapus', certification, method: :delete, data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} , :class=>"destroy destroy_certification" %>
          </td>
          <% end %>
        </tr>
        <% @no = @no + 1 %>
      <% end %>
    </tbody>
  </table>
</div>