<div class="table-responsive">
  <table class="table"id="unitData">
  <thead>
    <tr>
      <th>No</th>
      <th>Pegawai</th>
      <th>Jabatan</th>
      <th>No. SK</th>
      <th>Masa jabatan</th>
      <% if admin? or current_user.employee.id == @employee.id  %>
      <th>Dokumen</th>
      <% end %>
      <% if admin? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @employee.units.each do |unit| %>
      <tr id = "unit_<%= unit.id %>">
        <td><%= @no %></td>
        <td><%= unit.employee.name.titleize %></td>
        <td><%= unit.position.name %></td>
        <td><%= unit.number %></td>
        <td><%= unit.date_start.year %> - <%= unit.date_end.year %></td>
        <% if admin? or current_user.employee.id == @employee.id  %>
        <td>
          <% if unit.document.present? %>
            <a href="<%= unit.document %>" style="color:green !important" target="_blank">Ada</a>
          <% else %>
            <div style="color:red">tidak ada</div>
          <% end %>
        </td>
        <% end %>
        <% if admin? %>
        <td><%= link_to 'Edit', edit_unit_path(unit),:class=>"edit edit_unit",data: {remote: true,disable_with: "proses..."} %></td>
        <td><%= link_to 'Hapus', unit, method: :delete,:class=>"destroy destroy_unit",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."}  %></td>
        <% end %>
      </tr>
      <% @no = @no +1 %>
    <% end %>
  </tbody>
</table>

</div>