<div class="table-responsive">
  <table class="table" id="entryData">
    <thead>
      <tr>
        <th>No</th>
        <th>Tetap</th>
        <th>Kontrak </th>
        <th>No SK</th>
         <% if admin? %>
        <th>
          Dokumen
        </th>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @no = 1 %>
      <% @employee.entries.each do |entry| %>
        <tr id="entry_<%= entry.id %>">
          <td><%= @no %></td>
          <td><%= entry.fixed %></td>
          <td><%= entry.contract %></td>
          <td><%= entry.number %></td>
           <% if admin? %>
          <td>
            <% if entry.document.present? %>
              <a href="<%= entry.document %>" target="_blank"style="color:green !important" data-image="<%= entry.document_url %>">Ada</a>
            <% else %>
              <div style="color:red">Tidak ada</div>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_entry_path(entry),:class=>"edit",data: {remote: true,disable_with: "proses..."} %></td>
          <td><%= link_to 'Hapus', entry, method: :delete,:class=>"destroy destroy_entry",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
          <% end %>
        </tr>
        <% @no = @no+1 %>
      <% end %>
    </tbody>
  </table>
</div>
