<div class="table-responsive">
  <table class="table" id="ranksData">
    <thead>
      <tr>
        <th>No</th>
        <th>No SK</th>
        <th>Golongan</th>
        <th>Tahun</th>
        <% if admin? or current_user.employee.id == @employee.id %>
        <th>Dokumen</th>
        <% end %>
        <% if admin? %>
        <td></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @no = 1 %>
      <% @employee.ranks.each do |pangkat| %>
      <tr id="rank_<%= pangkat.id %>">
        
        <td><%= @no%> </td>
        <td>
          <%= pangkat.number %>
        </td>
        
        <td><%= pangkat.group.name if pangkat.group_id.present? %></td>
        <td><%= pangkat.year %></td>

        <% if admin? or current_user.employee.id == @employee.id %>
        <td>
          <% if pangkat.document.present? %>
            <a href="<%= pangkat.document %>" target="_blank" style="color:green !important" data-image="<%= pangkat.document_url %>">Ada</a>
          <% else %>
            <div style="color:red">Tidak ada</div>
          <% end %>
        </td>
        <% end %>

        <% if admin? %>
        <td class="hide_print">
          <%= link_to 'Edit', edit_rank_path(pangkat) ,:class=>"edit edit_rank",data: {remote: true,disable_with: "proses..."}%>
          <%= link_to 'Hapus', rank_path(pangkat), method: :delete, :class=>"destroy hapus_rank",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
        </td>
        <% end %>
      </tr>
      <% @no = @no +1 %>
      <% end %>
    </tbody>
  </table>
</div>