<div class="table-responsive">
  <table class="table" id="inpassingData">
    <thead>
      <tr>
        <th>No</th>
        <th>Nomor SK</th>
        <th>Jabatan </th>
        <th>NIDN/NIPN</th>
        <% if admin? or current_user.employee.id == @employee.id  %>
        <th>
          Dokumen
        </th>
        <% end %>
        <% if admin? %>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @no = 1 %>
      <% @employee.inpassings.each do |inpassing| %>
        <tr id="inpassing_<%= inpassing.id %>">
          <td><%= @no %></td>
          <td><%= inpassing.number %></td>
          <td><%= inpassing.func_position.name if inpassing.func_position_id.present? %></td>
          <td><%= inpassing.lecture_number %></td>

          <% if admin? or current_user.employee.id == @employee.id  %>
          <td>
            <% if inpassing.document.present? %>
              <a href="<%= inpassing.document %>" target="_blank"style="color:green !important" data-image="<%= inpassing.document_url %>">Ada</a>
            <% else %>
              <div style="color:red">Tidak ada</div>
            <% end %>
          </td>
          <% end %>

          <% if admin? %>
          <td><%= link_to 'Edit', edit_inpassing_path(inpassing),:class=>"edit",data: {remote: true,disable_with: "proses..."} %></td>
          <td><%= link_to 'Hapus', inpassing, method: :delete,:class=>"destroy destroy_inpassing",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
          <% end %>
        </tr>
        <% @no = @no+1 %>
      <% end %>
    </tbody>
  </table>
</div>
