<div class="table-responsive">
  <table class="table" id="certificateData">
    <thead>
      <tr>
        <th>No</th>
        <th>Pegawai</th>
        <th>Tema</th>
        <th>Tahun</th>
        <% if admin? or current_user.employee.id == @employee.id  %>
        <th>Dokumen</th>
        <% end %>
        <% if admin? %>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @no = 1 %>
      <% @employee.certificates.each do |certificate| %>
        <tr id="certificate_<%= certificate.id %>">
          <td><%= @no %></td>
          <td><%= certificate.employee.name.titleize %></td>
          <td><%= certificate.theme %></td>
          <td><%= certificate.year %></td>
          
          <% if admin? or current_user.employee.id == @employee.id  %>
          <td>
            <% if certificate.document.present? %>
              <a href="<%= certificate.document %>" target="_blank"style="color:green !important">Ada</a>
            <% else %>
              <div style="color:red">tidak ada</div>
            <% end %>
          </td>
          <% end %>
          <% if admin? %>
          <td><%= link_to 'Edit', edit_certificate_path(certificate),:class=>"edit edit_certificate",data: {remote: true,disable_with: "proses..."} %></td>
          <td><%= link_to 'Hapus', certificate, method: :delete, data: { confirm: 'Ciyus mau di hapus?' },:class=>"destroy destroy_certificate", data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
          <% end %>
        </tr>
        <% @no = @no + 1 %>
      <% end %>
    </tbody>
  </table>
</div>