<!-- Modal -->
<div class="modal fade" id="modalEducation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah Data Pendidikan</h4>
      </div>
      <div class="modal-body">
        <%= form_for([@employee, Education.new], :html => {:multipart => true} , remote: true) do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="form-group">
            <%= f.label :education_level_id, "Jenjang Pendidikan" %>
            <%= f.collection_select(:education_level_id,EducationLevel.all,:id,:name,{:prompt => 'pilih jenjang'}, :class=>"form-control")%>
          </div>
          <div class="form-group">
            <%= f.label :number,"Nomor Surat Perjanjian Dinas" %><br>
            <%= f.text_field :number,:class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :graduate ,"Nama Unit Pendidikan"%><br>
            <%= f.text_field :graduate,:class => "form-control"  %>
          </div>
           <div class="form-group">
            <%= f.label :departement ,"Jurusan/Program"%><br>
            <%= f.text_field :departement,:class => "form-control"  %>
          </div>
          <div class="form-group">
            <%= f.label :year , "Tahun"%><br>
            <%= f.date_select :year ,:class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :document, "Dokumen" %>
            <%= f.file_field :document ,:class=>"form-control"%>
          </div>
          
      </div>
      <div class="modal-footer">
          <%= f.submit "Tambah",:class=>"btn btn-primary",data: { disable_with: "Prosess..." } %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>