<%= form_for(@employee,:html => {:multipart => true}) do |f| %>


  <% if @employee.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4>Ups! Ada <%= pluralize(@employee.errors.count, "kesalahan") %> kesalahan yang membuat data anda tidak bisa didaftarkan</h4>
      <ul>
        <% @employee.errors.messages.each do |message| %>
          <li><%= message.last.last.html_safe %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  
  <div class="row">
    <!-- data pribadi -->
    <div class="col-md-6">
      <h4>Data Pribadi</h4>
      <div class="form-group">
        <%= f.label :nik, "NIK" %><br>
        <%= f.text_field :nik,:class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :id_num, "Nomor KTP" %><br>
        <%= f.text_field :id_num,:class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :name, "Nama" %><br>
        <%= f.text_field :name ,:class=>"form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :front_title, "Gelar Depan" %><br>
        <%= f.text_field :front_title,:class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :back_title, "Gelar Belakang" %><br>
        <%= f.text_field :back_title,:class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :birhtplace, "Tempat Lahir" %><br>
        <%= f.text_field :birhtplace,:class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :birthdate, "Tanggal Lahir" %><br>
        <%= f.date_select :birthdate ,:end_year=>2000,:start_year=>1950, :class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address, "Alamat" %><br>
        <%= f.text_field :address,:class=>"form-control" %>
      </div>
       
    </div>
    <div class="col-md-6">
      <h4>Kontak</h4>
      <div class="form-group">
        <%= f.label :phone,"Telp" %><br>
        <%= f.text_field :phone ,:class=>"form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :mobile,"Hp" %><br>
        <%= f.text_field :mobile,:class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :mail,"Email" %><br>
        <%= f.text_field :mail,:class=>"form-control" %>
      </div>

      

      <!-- only admin -->
      <% if current_user.admin? %>
      <h4>Divisi/Bagian </h4>
      <div class="form-group">
        <%= f.label :division_id, "Divisi/Bagian" %> <br>
        <%= f.collection_select(:division_id,Division.all,:id,:name,{:prompt => 'pilih divisi/bagian'}, :class=>"form-control")%>
      </div>
      <h4>Status Kepegawaian</h4>
      <div class="form-group">
        <%= f.label :status do %>
          <%= f.check_box :status %>  
          Centang bila status <strong>Aktif</strong>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Upload Dokumen</h4>
      <div class="form-group">
        <%= f.label :picture,"Foto" %><br>
        <%= f.file_field :picture ,:class=>"form-control"%>
      </div>
       <div class="form-group">
        <%= f.label :id_pic, "Upload KTP" %><br>
        <%= f.file_field :id_pic,:class=>"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :fam_pic, "Upload Kartu Keluarga" %><br>
        <%= f.file_field :fam_pic,:class=>"form-control" %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- <div class="row"> -->
    <div class="actions col-md-12">
      <%= f.submit "Simpan",:class=>"btn btn-primary" %>
    </div> 
  <!-- </div> -->
<% end %>
