<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for :employee, url: employees_path, :html => { :method => 'GET' } do %>
      <div class="input-group pull-right">
        <span class="input-group-addon">
          Cari pegawai
        </span>
        <%= text_field_tag :q,nil,class: "form-control",placeholder: "Kata kunci berupa Nama / NIK" %>
        <span class="input-group-btn">
          <%= submit_tag "Cari", class: "btn btn-primary",name: nil %>
        </span>
      </div><!-- /input-group -->  
    <% end %>
  </div>
</div>