
<div class="row">
  
  <div class="col-md-12">
    <h3>
      Data Pegawai
      <% if admin? %>
      <%= link_to 'Unduh barcode', new_employee_path,:class => "btn btn-sm btn-primary pull-right",:style=>"margin-left:5px" %>
      <%= link_to 'Tambah Pegawai', new_employee_path,:class => "btn btn-sm btn-primary pull-right" %>
      <% end %>
    </h3>
    <hr>
    <%= render 'search' %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Id</th>
            <th>Nama</th>
            <th>NIK</th>
            <th>HP</th>
            <th>Telp</th>
            <% if admin? %>
            <th>Status</th>
            <th colspan="3"></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @no = 1 %>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= @no %></td>
              <td><%= employee.id %></td>
              <td><%= link_to employee.name.titleize, employee %></td>
              <td><%= employee.nik %></td>
              <td><%= employee.phone %></td>
              <td><%= employee.mobile %></td>
              
              <% if admin? %>
              <td>
                <% if employee.status == false %>
                  Tidak Aktif
                <% else %>
                  Aktif
                <% end %>
              </td>
              <td></td>
              <td><%= link_to 'Edit', edit_employee_path(employee) ,:class=>"edit"%></td>
              <td><%= link_to 'Hapus', employee, method: :delete, :class=>"destroy",data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
            <% @no = @no + 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<br>


