<p id="notice"><%= notice %></p>
<!-- <div class="print top">
  Cetak data : <%= @employee.name.titleize %> | NIK : <%= @employee.nik %>
  <div class="pull-right">
    <%= Date.today %>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-8">
    <h3 style="font-size:36px;margin-top:0"><%= @employee.name.titleize %></h3>
    <p>
      <strong>ID:</strong>
      <%= @employee.id %>
    </p>
    <p>
      <strong>Nomor Indok Pegawai:</strong>
      <%= @employee.nik %>
    </p>
    <p>
      <strong>Nomor KTP:</strong>
      <%= @employee.id_num %>
    </p>
    <p>
      <strong>Gelar Depan:</strong>
      <%= @employee.front_title %>
    </p>
    <p>
      <strong>Gelar Belakang:</strong>
      <%= @employee.back_title %>
    </p>
    <p>
      <strong>Tempat Lahir:</strong>
      <%= @employee.birhtplace %>
    </p>

    <p>
      <strong>Alamat:</strong>
      <%= @employee.address %>
    </p>


    <p>
      <strong>Tanggal Lahir:</strong>
      <%= @employee.birthdate %>
    </p>

    <p>
      <strong>Telp:</strong>
      <%= @employee.phone %>
    </p>

    <p>
      <strong>HP:</strong>
      <%= @employee.mobile %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @employee.mail %>
    </p>
    <h3>Status Kepegawaian</h3>
    <p>
      <strong>Status:</strong>
      <%= @employee.status %>
    </p>
  </div>
  <div class="col-sm-4" style="text-align:right;float:right;position: absolute;right: 0;top: 0;">
    <%= @employee.barcode %>
    <br><br>
    <% if @employee.picture.present? %>

    <%= image_tag(@employee.picture_url, :width => 150) if @employee.picture.present? %>
    <% end %>
  </div>
</div>


<div class="row">
  <!-- lampiran -->
  <div class="col-xs-12">
    <h3>Lampiran</h3>
    <br>
    <table class="table">
      <tr>
        <td>
          KTP
        </td>
        <td>
          <% if @employee.id_pic.present? %>
             <a href="<%= @employee.id_pic %>" target="_blank" style="color:green !important">ada</a>
          <% else %>
            <div style="color:red">tidak ada</div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Kartu Keluarga</td>
        <td>
          <% if @employee.fam_pic.present? %>
            <a href="<%= @employee.fam_pic %>" target="_blank" style="color:green !important">ada</a>
          <% else %>
            <div style="color:red">tidak ada</div>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <!-- sertifikat -->
  <div class="col-xs-12 units">
    <h3>
      TMT
      <% if current_user.admin? %>
      <%= link_to 'Tambah Data', new_entry_path,:class=>"pull-right btn btn-xs btn-primary",:id=>"add_entry" ,:remote => true ,data: { disable_with: "Prosess...", id:"#{@employee.id}" } %>
      <% end %>
    </h3>
    <div class="entry_add_content"></div>
    <%= render 'data_entry' %>
  </div>
  <!-- pendidikan -->
  <div class="col-xs-12 education">
    <h3>
      Pendidikan
      <% if current_user.admin? %>
      
      <%= link_to "Tambah pendidikan", new_employee_education_path(@employee) ,:remote => true ,:id=> "add_education",:class=> "pull-right btn btn-xs btn-primary",data: { disable_with: "Prosess...", id:"#{@employee.id}" }%>
      <% end %>
    </h3>

    <%= render 'form_education' %>
    <div class="education_add_content"></div>
    <%= render :partial => "data_education" %>
  </div>

  <!-- .kepangkatan -->
  <div class="col-xs-12 kepangkatan">
    <h3>
      Kepangkatan
      <% if current_user.admin? %>
      <%= link_to 'Tambah Pangkat', new_rank_path,:class=>"pull-right btn btn-xs btn-primary",:id=>"add_rank" ,:remote => true ,data: { disable_with: "Prosess...", id:"#{@employee.id}" } %>
      <% end %>

    </h3>

    <div class="rank_add_content"></div>
    <%= render 'data_rank' %>
  </div>

  <!-- Jabatan fungsional/inpassing -->
  <div class="col-xs-12 kepangkatan">
    <h3>
      Jabatan Fungsional/Inpassing
      <% if current_user.admin? %>
      <%= link_to 'Tambah Inpassing', new_inpassing_path,:class=>"pull-right btn btn-xs btn-primary",:id=>"add_inpassing" ,:remote => true ,data: { disable_with: "Prosess...", id:"#{@employee.id}" } %>
      <% end %>
    </h3>

    <div class="inpassing_add_content"></div>
    <%= render 'data_inpassing' %>
  </div>

  <!-- .sertifikat -->
  <div class="col-xs-12 certifications">
    <h3>
      Sertifikasi Dosen
      <% if current_user.admin? %>
      <%= link_to 'Tambah Sertifikasi Dosen', new_certification_path,:class=>"pull-right btn btn-xs btn-primary",:id=>"add_certification" ,:remote => true ,data: { disable_with: "Prosess...", id:"#{@employee.id}" } %>
      <% end %>
    </h3>

    <div class="certification_add_content"></div>
    <%= render 'data_certification' %>
  </div>

  <!-- unit kerja -->
  <div class="col-xs-12 units">
    <h3>
      Unit Kerja
      <% if current_user.admin? %>
      <%= link_to 'Tambah Unit Kerja', new_unit_path,:class=>"pull-right btn btn-xs btn-primary",:id=>"add_unit" ,:remote => true ,data: { disable_with: "Prosess...", id:"#{@employee.id}" } %>
      <% end %>
    </h3>
    <div class="unit_add_content"></div>
    <%= render 'data_unit' %>
  </div>

  <!-- sertifikat -->
  <div class="col-xs-12 certificate">
    <h3>
      Sertifikat
      <% if current_user.admin? %>
      <%= link_to 'Tambah Sertifikat', new_certificate_path,:class=>"pull-right btn btn-xs btn-primary",:id=>"add_certificate" ,:remote => true ,data: { disable_with: "Prosess...", id:"#{@employee.id}" } %>
      <% end %>
    </h3>
    <div class="certificate_add_content"></div>
    <%= render 'data_certificate' %>
  </div>
  <div class="col-xs-12">
    <a class="btn btn-primary" href="javascript:window.print()">Cetak</a>
  </div>
</div>


<div class="editor pull-right">
<% if admin? %>
  <%= link_to 'Edit', edit_employee_path(@employee) %> |
<% end %>
  <%= link_to 'Kembali', employees_path %>
</div>
