<h1 class="pull-left">Master Jabatan</h1>

<div class="pull-right">
  <%= link_to 'Tambah Jabatan', new_position_path,:class => "btn btn-primary" %>
</div>
<table class="table">
  <thead>
    <% @no = 1 %>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= @no  %></td>
        <td><%= link_to position.name, position %></td>
        <td><%= link_to 'Edit', edit_position_path(position),:class => "edit" %></td>
        <td><%= link_to 'Hapus', position, method: :delete, data: { confirm: 'Are you sure?' },:class=>"destroy" %></td>
      </tr>
      <% @no = @no + 1 %>
    <% end %>
  </tbody>
</table>

<br>

