<%= form_for(@func_position) do |f| %>
  <% if @func_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@func_position.errors.count, "error") %> prohibited this func_position from being saved:</h2>

      <ul>
      <% @func_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nama Jabatan" %><br>
    <%= f.text_field :name ,:class=>"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary" %>
  </div>
<% end %>
