<h1>Data Jabatan Fungsional</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @func_positions.each do |func_position| %>
      <tr>
        <td><%= func_position.name %></td>
        <td><%= link_to 'Detil', func_position %></td>
        <td><%= link_to 'Edit', edit_func_position_path(func_position),:class=>"edit" %></td>
        <td><%= link_to 'Destroy', func_position, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"destroy"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Jabatan Fungsional', new_func_position_path %>
