<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @func_position.name %>
</p>

<%= link_to 'Edit', edit_func_position_path(@func_position) %> |
<%= link_to 'Back', func_positions_path %>
