<tr id="entry_<%= @entry.id %>">
  <td><%= @entry.employee.entries.count %></td>
  <td><%= @entry.fixed %></td>
  <td><%= @entry.contract %></td>
  <td><%= @entry.number %></td>
  <td>
    <% if @entry.document.present? %>
      <a href="<%= @entry.document %>" style="color:green !important" data-image="<%= @entry.document_url %>">Ada</a>
    <% else %>
      <div style="color:red">Tidak ada</div>
    <% end %>
  </td>
  <td><%= link_to 'Edit', edit_entry_path(@entry),:class=>"edit",data: {remote: true,disable_with: "proses..."} %></td>
  <td><%= link_to 'Hapus', @entry, method: :delete,:class=>"destroy destroy_entry",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
</tr>