<% if @entry.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4>Ups! Ada <%= pluralize(@entry.errors.count, "kesalahan") %> kesalahan yang membuat data anda tidak bisa didaftarkan</h4>
      <ul>

        <% @entry.errors.messages.each do |attr,message| %>
          <li><%= message.split("").join("") %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  