<%= form_for(@entry,:html => {:multipart => true},:remote=>true) do |f| %>

  <!-- <div class="form-group"> -->
    <%= f.hidden_field :employee_id,  :class=>"form-control"%>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <!-- </div> -->
  <div class="form-group">
    <%= f.label :fixed,"Tetap" %><br>
    <%= f.date_select :fixed ,:start_year=>1990,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :contract ,"Kontrak"%><br>
    <%= f.date_select :contract,:start_year=>1990,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number ,"No. SK"%><br>
    <%= f.text_field :number,:class=>"form-control" %>
  </div>
  <div class="form-group", "Dokumen">
    <%= f.label :document %><br>
    <%= f.file_field :document ,:class=>"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", :class=> "btn btn-primary",data: { disable_with: "Prosess..." }  %>
  </div>
<% end %>
