<%= form_for(@entry,:html => {:multipart => true}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :employee_id, "Pegawai" %><br>
    <%= f.collection_select(:employee_id,Employee.all,:id,:name,{:prompt => 'pilih pegawai'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :fixed,"Tetap" %><br>
    <%= f.date_select :fixed,:start_year=>1990 ,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :contract ,"Kontrak"%><br>
    <%= f.date_select :contract,:start_year=>1990,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number ,"No. SK"%><br>
    <%= f.text_field :number,:class=>"form-control" %>
  </div>
  <div class="form-group", "Dokumen">
    <%= f.label :document %><br>
    <%= f.file_field :document ,:class=>"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", :class=>"btn btn-primary"%>
  </div>
<% end %>
