pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data TMT berhasil ditambah kakak!</div>"

<% if @entry.errors.any? %>
  $("#entry_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  $('#entry_modal').modal('hide')

  $('#entryData tr:last').after("<%= j render('data_created') %>");

  $('.entry_add_content').prepend(pesan)

<% end %>

