pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data TMT berhasil hapus kakak!</div>";


$('.destroy_entry').bind('ajax:success', function() {
   $(this).closest('tr').slideUp();
});

$('.entry_add_content').prepend(pesan);