<h1>Data TMT</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Pegawai</th>
        <th>Tetap</th>
        <th>Kontrak</th>
        <th>No SK</th>
        <th>Dokumen</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @no = 1 %>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= @no %></td>
          <td><%= entry.employee.name.titleize if entry.employee.present? %></td>
          <td><%= entry.fixed %></td>
          <td><%= entry.contract %></td>
          <td><%= entry.number %></td>
          <td><%= entry.document %></td>
          <td><%= link_to 'Show', entry %></td>
          <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
          <td><%= link_to 'Hapus', entry, method: :delete, data: { confirm: 'Yakin mau dihapus?' } %></td>
        </tr>
        <% @no = @no + 1 %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Tambah data TMT', new_entry_path %>
