$('.entry_add_content').html('<%= j render("modal") %>');

$('#entry_modal').modal();

$('#add_entry').bind('ajax:success', function() {
	id = $(this).data('id');
	console.log("Pegawai ID =>"+id)
	$('input#entry_employee_id').val(id)
});


console.log("Add entry")
