<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @entry.employee_id %>
</p>

<p>
  <strong>Fixed:</strong>
  <%= @entry.fixed %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @entry.contract %>
</p>

<p>
  <strong>Number:</strong>
  <%= @entry.number %>
</p>

<p>
  <strong>Document:</strong>
  <%= @entry.document %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
