pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data entry kerja berhasil diupdate kakak!</div>"
modal = $('#entry_modal');

data = $('#entryData tr#entry_<%= @entry.id %>');



<% if @entry.errors.any? %>
  $("#entry_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  data.children('td:nth-child(2)').html('<%= @entry.fixed %>');
  data.children('td:nth-child(3)').html('<%= @entry.contract %>');
  data.children('td:nth-child(4)').html('<%= @entry.number %>');
  data.children('td:nth-child(5)').html('<% if @entry.document.present? %><a style=\"color:green !important" href="<%= @entry.document_url %>" target="_self">Ada</a><% else %><div style=\"color:red\">Tidak ada</div><% end %>');


  modal.modal('hide');
  $('.entry_add_content').prepend(pesan);
<% end %>


