<tr>
	<td><%= Group.all.count %></td>
	<td><%= link_to @group.name, @group %></td>
	<td><%= link_to 'Edit', edit_group_path(@group),:class=>'edit',:remote=>true %></td>
	<td><%= link_to 'Hapus', @group, method: :delete, data: { confirm: 'Ciyus mau di hapus kak?' } ,:remote=>true,:class=>'hapus_group'%></td>
</tr>
