<%= form_for(@group,:remote=>true) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,:class=>"label-control" %><br>
    <%= f.text_field :name, :class =>"form-control",:autofocus => true %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Simpan", :class =>"btn btn-primary",:id=> "add_group" %>
  </div>
<% end %>


