pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Berhasil ditamba!</div>";


$('.groups_table tr:last').after("<%= j render('data') %>");

$('#groups_modal').modal('hide');
$('.notif').append("<%= j render('sukses') %>");


