$('.hapus_group').bind('ajax:success', function() {
   $(this).closest('tr').fadeOut();
});

$('.notif').append("<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Berhasil dihapus</div>")