<h1 class="pull-left">Master Golongan</h1>
<div class="pull-right">
  <%= link_to 'Tambah Golongan', new_group_path ,:remote=>true ,:class => "btn btn-primary"%>
</div>
<div class="notif">

</div>
<table class="table groups_table">
  <% @no = 1 %>
  <thead>
    <tr>
      <th>No</th>
      <th>Golongan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= @no %></td>
        <td><%= link_to group.name, group %></td>
        <td><%= link_to 'Edit', edit_group_path(group),:class=>"edit",:remote=>true %></td>
        <td><%= link_to 'Hapus', group, method: :delete, data: { confirm: 'Ciyus mau di hapus kak?' } ,:remote=>true,:class=>"hapus_group"%></td>
      </tr>
      <% @no = @no + 1 %>
    <% end %>
  </tbody>
</table>

<br>


