<% provide(:title, "Edit user") %>
<h1>Update Akun anda</h1>

<div class="row">
  <div class="col-md-6 ">
    <%= form_for(@user) do |f| %>
      <%= render 'error_messages' %>

      <div class="form-group">
      	<%= f.label :name,"Nama" %>
      	<%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
      	<%= f.label :password %>
      	<%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
      	<%= f.label :password_confirmation, "Confirmation" %>
      	<%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>