<h2>
Data User
<%=  link_to 'Tambah Akun', new_user_path,:class=>"btn btn-primary pull-right" %>
</h2>
<%= will_paginate %>
<div class="table-responsive">
	<table class="table">
		<thead>

			<tr>
				<th>No</th>
				<th>User</th>
				<th>Pegawai</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<% @no = 1 %>
			<% @users.each do |user| %>
			<tr>
				<td> <%= @no %>  </td>
				<td><%= user.name %></td>
				<td><%= user.employee.name.titleize if user.employee.present? %></td>
				<td>
					<% if current_user.admin? %>
						<%= link_to "delete", user, method: :delete,data: { confirm: "You sure?" } ,:class=>"destroy" %>
					<% end %>
				</td>
			</tr>
			<% @no = @no + 1 %>
			<% end %>
		</tbody>
	</table>
</div>
<%= will_paginate %>