<h1>Tambah User</h1>

<%= render 'error_messages' %>

<div class="row">
  <div class="col-md-5">
    <%= form_for(@user) do |f| %>
      <div class="form-group">
      	<%= f.label :name,"User" %>
      	<%= f.text_field :name , :class=>"form-control"%>
      </div>
			
			<div class="form-group">
	      <%= f.label :employee_id,"Pegawai" %>
	      <%= f.collection_select(:employee_id,Employee.all,:id,:name,{:prompt => 'pilih pegawai'}, :class=>"form-control")%>
			</div>

			<div class="form-group">
	      <%= f.label :password %>
	      <%= f.password_field :password, :class=>"form-control" %>
			</div>

			<div class="form-group">
	      <%= f.label :password_confirmation, "Konfirmasi Password" %>
	      <%= f.password_field :password_confirmation , :class=>"form-control"%>
			</div>

			<div class="form-group">
     	 <%= f.submit "Tambah", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>