<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>No</th>
				<th>NIK</th>
				<th>Nama</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @no = 1 %>
			<% @division.employees.each do |employee| %>
			<tr>
				<td><%= @no %></td>
				<td><%= employee.nik %></td>
				<td><%= employee.name.titleize %></td>
				<td>
				</td>
			</tr>
			<% @no = @no + 1 %>
			<% end %>
		</tbody>
	</table>
</div>