<%= form_tag({controller: "divisions", action: "create_division"}, method: "post") do %>
	<div class="form-group">
		<%= label_tag(:employee, "Divisi, Group") %>
		<select name="adddivision[employee]" id="employee" class="form-control">
			<option value="">Pilih Divisi</option>
			<% Division.all.each do |div| %>
			<option value="<%= div.id %>"><%= div.name %></option>
			<% end %>
		</select>
	</div>

	<div class="form-group">
		<%= label_tag(:division_id, "Pegawai") %>
		<select name="adddivision[division_id]" id="employee" class="form-control">
			<option value="">Pilih pegawai</option>
			<% Employee.all.each do |em| %>
			<option value="<%= em.id %>"><%= em.name %></option>
			<% end %>
		</select>
	</div>

	<div class="form-group">
		<%= submit_tag "Simpan", :class=> "btn btn-primary",data: { remote:true,disable_with: "Prosess..." }  %>
	</div>
<% end %>