<%= form_for(@division) do |f| %>
  <%= render 'error_messages' %>

  <div class="form-group">
    <%= f.label :name,"Nama Divisi/Bagian" %><br>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description,"Keterangan" %><br>
    <%= f.text_field :description,:class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary"%>
  </div>
<% end %>
