<h1>Data Divisi/Bagian
<%= link_to 'Tambah Divisi Baru', new_division_path, :class=>"btn btn-primary pull-right" %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>ID</th>
      <th>Nama</th>
      <th>Jlh Pegawai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @divisions.each do |division| %>
      <tr>
        <td><%= @no %></td>
        <td><%= division.id %></td>
        <td><%= link_to division.name, division %></td>
        <td><%= division.employees.count %></td>
        <td><%= link_to 'Edit', edit_division_path(division) ,:class=>"edit"%></td>
        <td><%= link_to 'Hapus', division, method: :delete,:class=>"destroy", data: { confirm: 'Yakin mau di hapus?' } %></td>
      </tr>
    <% @no = @no +1 %>
    <% end %>
  </tbody>
</table>

<br>


