
<div class="form-group">
   <strong>Nama Divisi :  </strong> <br> <%= @division.name %>
</div>
  
<div class="form-group">
	<strong>Deskripsi :</strong> <br> <%= @division.description %>
</div>

<div class="division_content"></div>  

<div class="panel panel-default">
  <div class="panel-heading">
  	Pegawai yang ada dalam divisi/bagian <strong><%= @division.name.titleize%></strong>
  	
    <% link_to add_division_path,:class=>"btn btn-xs btn-primary pull-right", remote: true  do %>
    <i class="glyphicon glyphicon-plus"></i> Tambah
    <% end %>
  </div>
  <div class="panel-body">
    <%= render 'division_list' %>
  </div>
</div>




<div class="pull-right">
	<%= link_to 'Edit', edit_division_path(@division) %> |
	<%= link_to 'Kembali', divisions_path %>
</div>