<tr id="inpassing_<%= @inpassing.id %>">

<!-- t.integer  "employee_id"
    t.string   "number"
    t.string   "func_position_id"
    t.string   "lecture_number"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "document" -->


  <td><%= Inpassing.all.where(:employee_id => @inpassing.employee_id).count %></td>
  <td><%= @inpassing.number %></td>
  <td><%= @inpassing.func_position %></td>
  <td><%= @inpassing.lecture_number %></td>
  <td>
    <% if @inpassing.document.present? %>
      <a href="<%= @inpassing.document %>" style="color:green !important" data-image="<%= @inpassing.document_url %>">Ada</a>
    <% else %>
      <div style="color:red">Tidak ada</div>
    <% end %>
  </td>
  <td><%= link_to 'Edit', edit_inpassing_path(@inpassing),:class=>"edit" ,data: {remote: true,disable_with: "proses..."}%></td>
  <td><%= link_to 'Hapus', @inpassing, method: :delete,:class=>"destroy destroy_inpassing",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."}%></td>
</tr>
