<%= form_for(@inpassing,:html => {:multipart => true},:remote=>true) do |f| %>
  <%= f.hidden_field :employee_id%>
  <div class="form-group">
    <%= f.label :number,"Nomor SK" %><br>
    <%= f.text_field :number , :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :func_position_id ,"Jabatan Fungsional" %><br>
    <%= f.collection_select(:func_position_id,FuncPosition.all,:id,:name,{:prompt => 'pilih jabatan'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :lecture_number,"NIDN/NUPN" %><br>
    <%= f.text_field :lecture_number, :class=>"form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :document %><br>
    <%= f.file_field :document,:class=> "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", :class=> "btn btn-primary",data: { disable_with: "Prosess..." }  %>
  </div>
<% end %>
