<%= form_for(@inpassing) do |f| %>

  <%= render 'error_messages' %>

  <div class="form-group">
    <%= f.label :employee_id,"Pegawai" %><br>
    <%= f.collection_select(:employee_id,Employee.all,:id,:name,{:prompt => 'pilih pegawai'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :number,"Nomor SK" %><br>
    <%= f.text_field :number , :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :func_position_id ,"Jabatan Fungsional" %><br>
    <%= f.collection_select(:func_position_id,FuncPosition.all,:id,:name,{:prompt => 'pilih jabatan'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :lecture_number,"NIDN/NUPN" %><br>
    <%= f.text_field :lecture_number, :class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary"%>
  </div>
<% end %>
