pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data inpassing ditambah kakak!</div>"

<% if @inpassing.errors.any? %>
  $("#inpassing_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  $('#inpassing_modal').modal('hide')
  $('#inpassingData tr:last').after("<%= j render('data_created') %>");
  $('.inpassing_add_content').prepend(pesan)
<% end %>

