<h1>Data Jabatan Fungsional/Inpassing</h1>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Pegawai</th>
      <th>Nomor SK</th>
      <th>Jabatan </th>
      <th>NIDN/NIPN</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @inpassings.each do |inpassing| %>
      <tr>
        <td><%= @no %></td>
        <td><%= inpassing.employee.name.titleize if inpassing.employee.present? %></td>
        <td><%= inpassing.number %></td>
        <td><%= inpassing.func_position.name %></td>
        <td><%= inpassing.lecture_number %></td>
        <td><%= link_to 'Edit', edit_inpassing_path(inpassing),:class=>"edit" %></td>
        <td><%= link_to 'Hapus', inpassing, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"destroy"%></td>
      </tr>
      <% @no = @no+1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah', new_inpassing_path %>
