
$('.inpassing_add_content').html('<%= j render("modal") %>');

$('#inpassing_modal').modal();

$('#add_inpassing').bind('ajax:success', function() {
	id = $(this).data('id');
	console.log("Pegawai ID =>"+id)
	$('input#inpassing_employee_id').val(id)
});
