<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @inpassing.employee_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @inpassing.number %>
</p>

<p>
  <strong>Func position:</strong>
  <%= @inpassing.func_position_id %>
</p>

<p>
  <strong>Lecture number:</strong>
  <%= @inpassing.lecture_number %>
</p>

<%= link_to 'Edit', edit_inpassing_path(@inpassing) %> |
<%= link_to 'Back', inpassings_path %>
