pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Pendidikan Berhasil diupdate kakak!</div>"
modal = $('#inpassing_modal');
data = $('#inpassingData tr#inpassing_<%= @inpassing.id %>');
<% if @inpassing.errors.any? %>
  $("#inpassing_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  data.children('td:nth-child(2)').html('<%= @inpassing.number %>');
  data.children('td:nth-child(3)').html('<%= @inpassing.func_position.name %>');
  data.children('td:nth-child(4)').html('<%= @inpassing.lecture_number %>');
  data.children('td:nth-child(5)').html('<% if @inpassing.document.present? %><a style=\"color:green !important" target="_blank" href="<%= @inpassing.document_url %>" target="_self">Ada</a><% else %><div style=\"color:red\">Tidak ada</div><% end %>');

  modal.modal('hide');
  $('.inpassing_add_content').prepend(pesan);
<% end %>