<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Judul" %><br>
    <%= f.text_field :title,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body , "Pengumunan" %><br>
    <%= f.bootsy_area :body,editor_options: { link: false, color: false,font_styles: false,image:false,blockquote:false },:class=>"form-control" %>
  </div>
  <div class="form-group">

    <%= f.label :employee_id,'Dibuat oleh' %><br>
    <input type="text" disabled value=" <%= current_user.employee.name.titleize %> " class="form-control">
    <%= f.hidden_field :employee_id,:value=> current_user.employee_id %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=> "btn btn-primary"%>
  </div>
<% end %>
