<h1 >
  Pengumuman
  <div class="pull-right">
    <%= link_to 'Tambah Pengumuman', new_news_path,:class=>"btn btn-primary" if current_user.admin? %>
  </div>
</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Judul</th>
        <th>Dibuat</th>
        <th>Tanggal</th>
        <% if current_user.admin? %>
        <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= link_to news.title.titleize, news %></td>
          <td><%= news.employee.name.titleize %></td>
          <td><%= I18n::localize(news.created_at,:format=>"%A, %e %B %Y") %></td>
          <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_news_path(news) ,:class=> "edit"%></td>
          <td><%= link_to 'Hapus', news, method: :delete, data: { confirm: 'Yakin mau dihapus??' }  ,:class=> "destroy"%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


