<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <br>
  <%= @news.title %>
</p>

<p>
  <strong>Pengumuman:</strong>
  <br>
  <%= @news.body.html_safe %>
</p>

<% if admin? %>
<p>
  <strong>Dibuat oleh :</strong>
  <br>
  <%= @news.employee.name.titleize %>
</p>
<% end %>

<div class="pull-right">
  <% if admin? %>
	<%= link_to 'Edit', edit_news_path(@news) %> |
  <% end %>
	<%= link_to 'Kembali', news_index_path %>
</div>
