<div class="head-top">
    <div class="container ">
      <ul class="nav navbar-nav">
        <li class="tagline">
          Sistem Kepegawaian Universitas Muhammadiyah Banjarmasin
        </li>
      </ul>
      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li class="tagline"><strong> <%= current_user.employee.front_title+"." if current_user.employee.front_title.present? %> <%= current_user.employee.name.titleize %><%=  ", "+current_user.employee.back_title if current_user.employee.back_title.present? %> </strong> </li>
        <li>
          <a href="/keluar"><i class="glyphicon glyphicon-comment"></i></a>
        </li>
        <li>
          
          <a href="#"><i class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="bottom" title="edit akun"></i></a>
        </li>
        <li>
            <%= link_to  logout_path, method: "delete", data: { confirm: 'Yakin mau keluar?' } do %>
            <i class="glyphicon glyphicon-log-out" data-toggle="tooltip" data-placement="bottom" title="keluar"></i>
            <% end %>
          </a>
          
        </li>

      </ul>
      <% end %>
    </div>
  </div>