<!-- bagian atas -->
<div id="header">
  <%= render 'layouts/menu/top_nav' %>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SIMPEG STIKESMB</a>
      </div>
      <% if current_user %>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right" id="nav-utama">
            <li>
  <%= link_to "Dasbor", root_path %>
  </li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kepegawaian <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
     <li class="dropwon">
      <%= link_to "Data Pegawai", employees_path %>
    </li>
    <li class="dropwon">
      <%= link_to "Absensi", self_path %>
    </li>
    <li >
      <%= link_to "Surat",letters_path %>
    </li>
    <li>
      <%= link_to "Pengumuman" ,news_index_path %>
    </li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Akun <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <%= link_to "Detail Data", employee_path(current_user.employee_id) %>
    </li>

    <li class="divider"></li>

    <li><%= link_to "Ubah Profil", edit_employee_path(current_user.employee_id) %></li>
    <li><a href="#"><%=link_to "Ubah akun", edit_user_path(current_user) %></a></li>
  </ul>
</li>
<li>
  <%= link_to "Keluar", logout_path, method: "delete",data: { confirm: 'Yakin mau keluar?' }  %>
</li>
          </li>
        </ul>
      </nav>
      <% end %>
    </div>
  </header>
</div>
