
<tr id="rank_<%= @rank.id %>"> 
  <td><%= Rank.all.where(:employee_id => @rank.employee_id).count %> </td>
  <td>
    <%= @rank.number %>
  </td>
  
  <td><%= @rank.group.name if @rank.group_id.present? %></td>
  <td><%= @rank.year %></td>

  <td>
    <% if @rank.document.present? %>
       <a href="<%= @rank.document_url %>" style="color:green !important"target="_blank" data-image="<%= @rank.document_url %>">Ada</a>
    <% else %>
      <div style="color:red">Tidak ada</div>
    <% end %>
  </td>
  <td class="hide_print">
    <%= link_to 'Edit', edit_rank_path(@rank) ,:class=>"edit edit_rank",data: {remote: true,disable_with: "proses..."}%>
    <%= link_to 'Hapus', rank_path(@rank), method: :delete, :class=>"destroy hapus_rank",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
  </td>
</tr>