<%= form_for(@rank,:html => {:multipart => true},:remote=>true) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number,"Nomor SK" %><br>
    <%= f.text_field :number,:class=> "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :group_id ,"Gol/Ruang"%><br>
    <%= f.collection_select(:group_id,Group.all,:id,:name,{:prompt => 'pilih gol/ruang'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :year, "tahun" %><br>
    <%= f.date_select :year,:start_year=>1992,:class=> "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :document %><br>
    <%= f.file_field :document,:class=> "form-control"  %>
  </div>
  <%= f.hidden_field :employee_id%>
  <div class="actions">
    <%= f.submit "Simpan", :class=> "btn btn-primary",data: { disable_with: "Prosess..." }  %>
  </div>
<% end %>
