pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Jabatan Berhasil ditambah kakak!</div>"

<% if @rank.errors.any? %>
  $("#rank_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  $('#rank_modal').modal('hide')
  $('#ranksData tr:last').after("<%= j render('data_created') %>");
  $('.rank_add_content').prepend(pesan)
<% end %>