<h1>Data Pangkat</h1>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>No SK</th>
      <th>Golongan</th>
      <th>Tahun</th>
      <th>Pegawai</th>
      <th>Dokumen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @ranks.each do |rank| %>
      <tr>
        <td><%= @no %></td>
        <td><%= rank.number %></td>
        <td><%= rank.group.name if rank.group_id.present? %></td>
        <td><%= rank.year %></td>
        <td><%= rank.employee.name.titleize if rank.employee_id.present? %></td>
        <td>
           <% if rank.document.present? %>
            <a href="<%= rank.document %>" style="color:green">Ada</a>
          <% else %>
            <div style="color:red">tidak ada</div>
          <% end %>
          
        </td>
        <td><%= link_to 'Tampil', rank %></td>
        <td><%= link_to 'Edit', edit_rank_path(rank), :class=> 'edit' %></td>
        <td><%= link_to 'Hapus', rank, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'destroy' %></td>
      </tr>
      <% @no = @no +1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Pangkat', new_rank_path %>
