
$('.rank_add_content').html('<%= j render("modal") %>');

$('#rank_modal').modal();

$('#add_rank').bind('ajax:success', function() {
	id = $(this).data('id');
	console.log("Pegawai ID =>"+id)
	$('input#rank_employee_id').val(id)
});

