<p id="notice"><%= notice %></p>

<p>
  <strong>No Surat Keterangan:</strong>
  <%= @rank.number %>
</p>

<p>
  <strong>Golongan:</strong>
  <%= @rank.group.name %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @rank.year %>
</p>

<p>
  <strong>Pegawai:</strong>
  <%= @rank.employee.name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @rank.document %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Kembali', ranks_path %>
