pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Pendidikan Berhasil diupdate kakak!</div>"
modal = $('#rank_modal');

data = $('#ranksData tr#rank_<%= @rank.id %>');

pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Jabatan Berhasil ditambah kakak!</div>"

<% if @rank.errors.any? %>
  $("#rank_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  data.children('td:nth-child(2)').html('<%= @rank.number %>');
  data.children('td:nth-child(3)').html('<%= @rank.group.name %>');
  data.children('td:nth-child(4)').html('<%= @rank.year %>');
  data.children('td:nth-child(5)').html('<% if @rank.document.present? %><a style=\"color:green !important" target="_blank" href="<%= @rank.document_url %>" target="_self">Ada</a><% else %><div style=\"color:red\">Tidak ada</div><% end %>');

  modal.modal('hide');
  $('.rank_add_content').prepend(pesan);
<% end %>
