<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :employee_id, "Pegawai" %> <br>
    <%= f.collection_select(:employee_id,Employee.all,:id,:name,{:prompt => 'pilih pegawai'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :first %><br>
    <%= f.date_select :first ,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :end %><br>
    <%= f.date_select :end,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description,:class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary"%>
  </div>
<% end %>
