<h1>Data Izin Pegawai
<%= link_to 'Tambah Izin', new_permission_path,:class=>"btn btn-primary pull-right" %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Pegawai</th>
      <th>Mulai</th>
      <th>Sampai</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.employee_id %></td>
        <td><%= permission.first %></td>
        <td><%= permission.end %></td>
        <td><%= permission.description %></td>
        <td><%= link_to 'Show', permission %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
        <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Izin', new_permission_path,:class=>"btn btn-primary" %>
