<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @permission.employee_id %>
</p>

<p>
  <strong>First:</strong>
  <%= @permission.first %>
</p>

<p>
  <strong>End:</strong>
  <%= @permission.end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permission.description %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
