<tr>
  <td><%= Certification.all.where(:employee_id => @certification.employee_id).count %></td>
  <td><%= @certification.certificate_number %></td>
  <td><%= @certification.reg_number %></td>
  <td><%= @certification.year %></td>
  <td>
    <% if @certification.document.present? %>
      <a href="<%= @certification.document %>" target="_blank"style="color:green !important">Ada</a>
    <% else %>
      <div style="color:red">tidak ada</div>
    <% end %>
  </td>
  <td><%= link_to 'Edit',edit_certification_path(@certification), :class=> 'edit edit_certification'  , data: {remote: true,disable_with: "proses..."} %></td>
  <td><%= link_to 'Hapus', @certification, method: :delete, data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."}, :class=>"destroy destroy_certification" %></td>
</tr>