<% if @certification.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4>Ups! Ada <%= pluralize(@certification.errors.count, "kesalahan") %> kesalahan yang membuat data anda tidak bisa didaftarkan</h4>
      <ul>
        <% @certification.errors.messages.each do |message| %>
          <li><%= message.last.last.html_safe %></li>
        <% end %>
      </ul>
    </div>
<% end %>

	