<%= form_for(@certification,:html => {:multipart => true}) do |f| %>
  <%= render 'error_messages' %>
  <div class="form-group">
    <%= f.label :employee_id,"Pegawai" %><br>
    <%= f.collection_select(:employee_id,Employee.all,:id,:name,{:prompt => 'pilih pegawai'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :certificate_number ,"No. Sertifikat" %><br>
    <%= f.text_field :certificate_number ,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :reg_number,"No. Registrasi" %><br>
    <%= f.text_field :reg_number,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :year,"Tahun" %><br>
    <%= f.date_select :year,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :document %><br>
    <%= f.file_field :document,:class=> "form-control"  %>
  </div>
  <div class="actions">
  <%= f.submit "Simpan",:class=>"btn btn-primary" %>
  </div>
<% end %>
