<%= form_for(@certification,:html => {:multipart => true},:remote=>true) do |f| %>
  <% if @certification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certification.errors.count, "error") %> prohibited this certification from being saved:</h2>

      <ul>
      <% @certification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :employee_id ,:class=>"form-control" %>
  <div class="form-group">
    <%= f.label :certificate_number ,"No. Sertifikat" %><br>
    <%= f.text_field :certificate_number ,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :reg_number,"No. Registrasi" %><br>
    <%= f.text_field :reg_number,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :year,"Tahun" %><br>
    <%= f.date_select :year,:start_year=> 1990,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :document %><br>
    <%= f.file_field :document,:class=> "form-control"  %>
  </div>
  <div class="actions">
  <%= f.submit "Simpan",:class=>"btn btn-primary" ,data: { disable_with: "Prosess..." } %>
  </div>
<% end %>
