pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Sertifikasi dosen berhasil ditambah kakak!</div>"

<% if @certification.errors.any? %>
	$("#certification_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
	$('#certification_modal').modal('hide')

	$('#certificationData tr:last').after("<%= j render('data_created') %>");

	$('.certification_add_content').prepend(pesan)

<% end %>