pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data sertifikasi dosen berhasil hapus kakak!</div>";

$('.destroy_certification').bind('ajax:success', function() {
   $(this).closest('tr').slideUp();
});

$('.certification_add_content').prepend(pesan);