<h1>Data Sertifikasi Dosen</h1>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Dosen</th>
      <th>No. Sertifikat</th>
      <th>No. Registrasi</th>
      <th>Tahun</th>
      <th>Dokumen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= @no %></td>
        <td><%= certification.employee.name.titleize %></td>
        <td><%= certification.certificate_number %></td>
        <td><%= certification.reg_number %></td>
        <td><%= certification.year %></td>
        <td>
          <% if certification.document.present? %>
            <a href="<%= certification.document %>" style="color:green">Ada</a>
          <% else %>
            <div style="color:red">tidak ada</div>
          <% end %>
        </td>
        <td><%= link_to 'Tampil', certification %></td>
        <td><%= link_to 'Edit',edit_certification_path(certification), :class=> 'edit'  %></td>
        <td><%= link_to 'Hapus', certification, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"destroy" %></td>
      </tr>
      <% @no = @no + 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Sertifikasi', new_certification_path %>
