
$('.certification_add_content').html('<%= j render("modal") %>');

$('#certification_modal').modal();

$('#add_certification').bind('ajax:success', function() {
	id = $(this).data('id');
	console.log("Pegawai ID =>"+id)
	$('input#certification_employee_id').val(id)
});

