<p id="notice"><%= notice %></p>

<p>
  <strong>Pegawai:</strong>
  <%= @certification.employee.name %>
</p>

<p>
  <strong>Nomor Sertifikat:</strong>
  <%= @certification.certificate_number %>
</p>

<p>
  <strong>Nomor Registrasi:</strong>
  <%= @certification.reg_number %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @certification.year %>
</p>

<div class="pull-right">
	<%= link_to 'Edit', edit_certification_path(@certification) %> |
	<%= link_to 'Kembali', certifications_path %>
</div>
