pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data sertifikasi berhasil diupdate kakak!</div>"
modal = $('#certification_modal');
data = $('#certificationData tr#certification_<%= @certification.id %>');

<% if @certification.errors.any? %>
  $("#certification_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  data.children('td:nth-child(2)').html('<%= @certification.certificate_number %>');
  data.children('td:nth-child(3)').html('<%= @certification.reg_number %>');
  data.children('td:nth-child(4)').html('<%= @certification.year %>');
  data.children('td:nth-child(5)').html('<% if @certification.document.present? %><a style=\"color:green !important" href="<%= @certification.document_url %>" target="_blank">Ada</a><% else %><div style=\"color:red\">Tidak ada</div><% end %>');
  modal.modal('hide');
  $('.certification_add_content').prepend(pesan);
<% end %>
