<%= form_for(@letter) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width:700px">
    <div class="form-group">
      <%= f.label :title,"Judul Surat" %><br>
      <%= f.text_field :title, :class=>"form-control" %>
    </div>
    <div class="form-group">
    <pre>
    Gunakan Kode dibawah ini untuk menambahkan :
    {{nama}}        => nama
    {{nik}}         => Ketua
    {{gol}}         => gol
    {{jabatan}}     => jabatan
    {{tanggal}}     => tanggal
    {{ketua}}       => ketua
    {{nikketua}}    => NIK ketua</pre>
      <%= f.label :format, "Format Surat" %><br>
      <%= f.text_area :format,:class=>"form-control"%>
    </div>

    <script>
    $(document).ready(function(){

      $.FroalaEditor.DefineIcon('tambahan', {NAME: 'cog'});
      $.FroalaEditor.RegisterCommand('tambahan', {
        title: 'Masukan Data',
        type: 'dropdown',
        focus: false,
        undo: false,
        refreshAfterCallback: true,
        options: {
          '{{nama}}': 'Nama',
          '{{nik}}': 'NIK',
          '{{gol}}}': 'Golongan',
          '{{jabatan}}': 'Jabatan',
          '{{tanggal}}': 'Tanggal',
          '{{ketua}}': 'Ketua',
          '{{nikketua}}': 'NIK Ketua'
        },
        callback: function (cmd, val) {
          console.log (cmd,val);
          console.log ($('textarea#letter_format').prop("selectionStart"))
        },
        // Callback on refresh.
        refresh: function ($btn) {
          console.log ('do refresh');
        },
        // Callback on dropdown show.
        refreshOnShow: function ($btn, $dropdown) {
          console.log ('do refresh when show');
        }
      });

      $('textarea#letter_format').froalaEditor({
        toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertTable', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html','tambahan'],
        language: 'id',
        tabSpaces: 5
        // toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html']
      })
    })
    </script>
  </div>

  <div class="form-group">
    <%= f.label :status,"Aktifkan" %><br>
    <%= f.check_box :status %> Centang bila ingin di terbitkan
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary" %>
  </div>
<% end %>
