<h1>Data Surat</h1>

<div class="table-responsive">
  <table class="table"> 
    <thead>
      <tr>
        <th>Judul</th>
        <% if current_user.admin? %>
        <th>Status</th>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @letters.each do |letter| %>
        <tr>
          <td><%= link_to letter.title, letter %></td>
          <td>
          <% if current_user.admin? %>
          <% if  letter.status == true %>
            <span class="label label-success">terbit</span>
          <% else %>
            <span class="label label-danger">tidak terbit</span>
          <% end %>
          </td>
          <td><%= link_to 'Edit', edit_letter_path(letter),:class=>"edit" %></td>
          <td><%= link_to 'Hapus', letter, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"destroy" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Tambah Surat', new_letter_path,:class=>"btn btn-primary" if current_user.admin? %>
