<div class="hide_print">
<p id="notice"><%= notice %></p>
<h3>
<%= @letter.title %>
<a class="btn btn-default pull-right" href="javascript:window.print()">Cetak</a>
</h3>
<hr>

</div>
<div style="width:700px;margin:auto;">
<%= raw Liquid::Template.parse(@str).render 'nama' => @nama,'nik' => @nik,'jabatan' => @jabatan,'gol' => @gol,'tanggal'=>@tanggal, 'ketua'=> @ketua, 'nikketua'=> @nikketua %> 
</div>

<div class="hide_print">
<hr>
<h3>Status</h3>
<% if  @letter.status == true %>
	<span class="label label-success">terbit</span>
<% else %>
	<span class="label label-danger">tidak terbit</span>
<% end %>

<div class="pull-right">
	<% if current_user.admin? %>
	<%= link_to 'Edit', edit_letter_path(@letter) %> |
	<% end %>
	<%= link_to 'Kembali', letters_path %>
</div>
</div>