<%= form_for(@education_level) do |f| %>
  <% if @education_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education_level.errors.count, "error") %> prohibited this education_level from being saved:</h2>

      <ul>
      <% @education_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Jenjang Pendidikan" %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary" %>
  </div>
<% end %>
