<h1>Data Jenjang Pendidikan</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @education_levels.each do |education_level| %>
      <tr>
        <td><%= education_level.name %></td>
        <td><%= link_to 'Edit', edit_education_level_path(education_level) %></td>
        <td><%= link_to 'Hapus', education_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Jenjang pendidikan', new_education_level_path,:class=>"btn btn-primary" %>
