<tr id="certificate_<%= @certificate.id %>">
  <td><%= @certificate.employee.certificates.count %></td>
  <td><%= @certificate.employee.name.titleize %></td>
  <td><%= @certificate.theme %></td>
  <td><%= @certificate.year %></td>
  <td>
    <% if @certificate.document.present? %>
      <a href="<%= @certificate.document %>"target="_blank"style="color:green !important" target="_blank">Ada</a>
    <% else %>
      <div style="color:red">tidak ada</div>
    <% end %>
  </td>
  <td><%= link_to 'Edit', edit_certificate_path(@certificate),:class=>"edit edit_certificate",data: {remote: true,disable_with: "proses..."} %></td>
  <td><%= link_to 'Hapus', @certificate, method: :delete, data: { confirm: 'Ciyus mau di hapus?' },:class=>"destroy destroy_certificate", data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
</tr>