<%= form_for(@certificate,:html => {:multipart => true}) do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :employee_id, "Pilih Pegawai" %><br>
    <%= f.collection_select(:employee_id,Employee.all,:id,:name,{:prompt => 'pilih pegawai'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :theme,"Tema" %><br>
    <%= f.text_field :theme, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :year ,"Tahun"%><br>
    <%= f.date_select :year,:start_year=> 1995 , :class=>"form-control", :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :document, "Dokumen" %><br>
    <%= f.file_field :document,:class=> "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", :class=>"btn btn-primary" %>
  </div>
<% end %>
