<%= form_for(@certificate,:html => {:multipart => true},:remote=>true) do |f| %>

  <!-- <div class="form-group"> -->
  <%= f.hidden_field :employee_id,  :class=>"form-control"%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <%= f.label :theme,"Tema" %><br>
    <%= f.text_field :theme, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :year ,"Tahun"%><br>
    <%= f.date_select :year, :start_year=> 1995, :class=>"form-control", :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :document, "Dokumen" %><br>
    <%= f.file_field :document,:class=> "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", :class=> "btn btn-primary",data: {disable_with: "Prosess..." }  %>
  </div>
<% end %>
