pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data sertifikat berhasil ditambah kakak!</div>"

<% if @certificate.errors.any? %>
	$("#certificate_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
	$('#certificate_modal').modal('hide')

	$('#certificateData tr:last').after("<%= j render('data_created') %>");

	$('.certificate_add_content').prepend(pesan)

<% end %>