<h1>Data Sertifikat</h1>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Pegawai</th>
      <th>Tema</th>
      <th>Tahun</th>
      <th>Dokumen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @certificates.each do |certificate| %>
      <tr>
        <td><%= @no %></td>
        <td><%= certificate.employee.name.titleize %></td>
        <td><%= certificate.theme %></td>
        <td><%= certificate.year %></td>
        <td>
          <% if certificate.document.present? %>
            <a href="<%= certification.document %>" target="_self"style="color:green">Ada</a>
          <% else %>
            <div style="color:red">tidak ada</div>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_certificate_path(certificate),:class=>"edit edit_certificate" %></td>
        <td><%= link_to 'Hapus', certificate, method: :delete, data: { confirm: 'Ciyus mau di hapus?' },:class=>"destroy destroy_certificate"  %></td>
      </tr>
      <% @no = @no + 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Sertifikat', new_certificate_path %>
