$('.certificate_add_content').html('<%= j render("modal") %>');

$('#certificate_modal').modal();

$('#add_certificate').bind('ajax:success', function() {
	id = $(this).data('id');
	console.log("Pegawai ID =>"+id)
	$('input#certificate_employee_id').val(id)
});

