<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @certificate.employee_id %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @certificate.theme %>
</p>

<p>
  <strong>Year:</strong>
  <%= @certificate.year %>
</p>

<p>
  <strong>Document:</strong>
  <%= @certificate.document %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
