pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data sertifikat berhasil diupdate kakak!</div>"

modal = $('#certificate_modal');
data = $('#certificateData tr#certificate_<%= @certificate.id %>');

<% if @certificate.errors.any? %>
  $("#certificate_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  data.children('td:nth-child(2)').html('<%= @certificate.employee.name %>');
  data.children('td:nth-child(3)').html('<%= @certificate.theme %>');
  data.children('td:nth-child(4)').html('<%= @certificate.year %>');
  data.children('td:nth-child(5)').html('<% if @certificate.document.present? %><a style=\"color:green !important" href="<%= @certificate.document_url %>" target="_blank">Ada</a><% else %><div style=\"color:red\">Tidak ada</div><% end %>');

  modal.modal('hide');
  $('.certificate_add_content').prepend(pesan);
<% end %>