<tr id="unit_<%= @unit.id %>">
  <td><%= Unit.all.where(:employee_id => @unit.employee_id).count %></td>
  <td><%= @unit.employee.name.titleize %></td>
  <td><%= @unit.position.name if @unit.position.present? %></td>
  <td><%= @unit.number %></td>
  <td><%= @unit.date_start.year %> - <%= @unit.date_end.year %></td>
  <td>
    <% if @unit.document.present? %>
      <a href="<%= @unit.document %>" style="color:green !important" targer="_blank">Ada</a>
    <% else %>
      <div style="color:red">tidak ada</div>
    <% end %>
  </td>
  <td><%= link_to 'Edit', edit_unit_path(@unit.id),:class=>"edit edit_unit",data: {remote: true,disable_with: "proses..."} %></td>
  <td><%= link_to 'Hapus', @unit, method: :delete,:class=>"destroy destroy_unit",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."}  %></td>
</tr>