<%= form_for(@unit,:html => {:multipart => true}) do |f| %>
  <%= render 'error_messages' %>

  <div class="form-group">
    <%= f.label :employee_id, "Pegawai" %>
    <%= f.collection_select(:employee_id,Employee.all,:id,:name,{:prompt => 'pilih pegawai'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :position_id, "Jabatan" %><br>
    <%= f.collection_select(:position_id,Position.all,:id,:name,{:prompt => 'pilih jabatan'}, :class=>"form-control")%>
  </div>
  <div class="form-group">
    <%= f.label :numbe,"No. Surat Keterangan" %><br>
    <%= f.text_field :number , :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :date_start , "Masa Jabatan Mulai" %><br>
    <%#f.select :date_start, (Time.zone.now.year - 25)..(Time.zone.now.year + 5), :class=>"form-control" %>
    <%= f.date_select :date_start,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :date_end, "Masa Jabatan Akhir" %><br>
    <%#f.select :date_end, (Time.zone.now.year - 25)..(Time.zone.now.year + 5), :class=>"form-control" %>
    <%= f.date_select :date_end,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :document %><br>
    <%= f.file_field :document,:class=> "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan" , :class=>"btn btn-primary"%>
  </div>
<% end %>
