pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data unit kerja berhasil ditambah kakak!</div>"

<% if @unit.errors.any? %>
	$("#unit_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
	$('#unit_modal').modal('hide')

	$('#unitData tr:last').after("<%= j render('data_created') %>");

	$('.unit_add_content').prepend(pesan)

<% end %>