<h1>Data Unit Kerja</h1>

<div class="unit_add_content"></div>
<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Pegawai</th>
      <th>Jabatan</th>
      <th>Number</th>
      <th>Masa jabatan</th>
      <th>Dokumen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @units.each do |unit| %>
      <tr>
        <td><%= @no %></td>
        <td><%= unit.employee.name.titleize %></td>
        <td><%= unit.position.name %></td>
        <td><%= unit.number %></td>
        <td><%= unit.date_start.year %> - <%= unit.date_end.year %></td>
        <td>
          <% if unit.document.present? %>
            <a href="<%= unit.document %>" style="color:green !important">Ada</a>
          <% else %>
            <div style="color:red">tidak ada</div>
          <% end %>
        </td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit),:class=>"edit edit_unit" %></td>
        <td><%= link_to 'Hapus', unit, method: :delete, data: { confirm: 'Are you sure?' },:class=>"destroy destroy_unit" %></td>
      </tr>
      <% @no = @no +1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Unit Kerja', new_unit_path  %>
