
$('.unit_add_content').html('<%= j render("modal") %>');

$('#unit_modal').modal();

$('#add_unit').bind('ajax:success', function() {
	id = $(this).data('id');
	console.log("Pegawai ID =>"+id)
	$('input#unit_employee_id').val(id)
});

