<p id="notice"><%= notice %></p>

<p>
  <strong>Pegawai:</strong>
  <%= @unit.employee.name.titleize%>
</p>


<p>
  <strong>Jabatan:</strong>
  <%= @unit.position.name%>
</p>

<p>
  <strong>Number:</strong>
  <%= @unit.number %>
</p>

<p>
  <strong>Masa Jabatan:</strong>
  <%= @unit.date_start.year %> - <%= @unit.date_end.year %>
</p>


<p>
  <strong>Dokumen:</strong>
  <br>
  <%= image_tag(@unit.document_url) if @unit.document.present? %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Kembali', units_path %>
