pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data unit kerja berhasil diupdate kakak!</div>"
modal = $('#unit_modal');
data = $('#unitData tr#unit_<%= @unit.id %>');

<% if @unit.errors.any? %>
  $("#unit_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  data.children('td:nth-child(2)').html('<%= @unit.employee.name %>');
  data.children('td:nth-child(3)').html('<%= @unit.position.name %>');
  data.children('td:nth-child(4)').html('<%= @unit.number %>');
  data.children('td:nth-child(5)').html('<%= @unit.date_start.year %> - <%= @unit.date_end.year %>');
  data.children('td:nth-child(6)').html('<% if @unit.document.present? %><a style=\"color:green !important" href="<%= @unit.document_url %>" target="_blank">Ada</a><% else %><div style=\"color:red\">Tidak ada</div><% end %>');

  modal.modal('hide');
  $('.unit_add_content').prepend(pesan);
<% end %>
