body{
    border-top:solid 5px $main-color;
    font-weight: 300;
}

.mobile{
  display: none;
}

// TOP HEADER
.head-top{
    background: #eee;
    font-size: 14px;
    .tagline{
        padding:8px 0;
    }
    a{
        padding-top: 10px !important;
        padding-bottom: 0px !important;
        
    }
    // on laptop
    @include media-query($on-laptop) {
        display: none;
    }
}
.dropdown-menu>li>a{
    font-weight: 300 !important; 
}

h1{
  @extend h3 ;
}


// MAIN HEADER
.navbar{
    border-bottom: solid 1px #eee;
}

.navbar-header button {
  border: solid 1px rgba(68, 68, 68, 0.26);
}

.icon-bar {
  background: rgba(68, 68, 68, 0.26);
}

// HEADEING & FONT STYLE
h1, h2, h3, h4, h5, h6 {
    font-weight: 300 !important;
}
// b, strong {
//     font-weight: 500;
// }


// LINKS
a {
    color: $sec-color !important;
    text-decoration: none;

    &:visited {
        color: darken($sec-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

// LOGIN
.login{
  // background: $main-color;
  // 
  color: #fff;
  position: relative;
  height: 100vh;


  background: image-url("login-bg.jpg") center ;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;
  
  h1{
    font-size: 38px;
  }
  form{
      // font-size: 12px;
      margin-bottom: 15px;
      color:#fff;

      .help-block{
          color:#fff;
          font-size: 10pt;
      }
      // background: rgba(#fff,0.2);
      // padding: 15px;
  }

  @include media-query($on-laptop) {
      
  }

  @include media-query($on-palm) {
      text-align: center;
      form{
          // background: rgba(#fff,0.2);
          padding:20px;
      }
      h1,p{
          display: none;
      }
      .mobile{
          display: block;
      }
  }
  a{
    color:#fff !important;
  }

  @include media-query($on-palm) {
      text-align: center;
      form{
          // background: rgba(#fff,0.2);
          padding:20px;
      }
      h1,p{
          display: none;
      }
      .mobile{
          display: block;
      }
  }
}

// DASHBOARD
ul#news{
  li{
    line-height: 1.5em;
  }
}

// ALERT
.alert-alert{
  @extend .alert-danger;
}
.alert-notice{
  @extend .alert-success;
}



.field_with_errors{
  input,select{
    border:solid 1px #a94442;
  }
}

// DEFAULT ASIDE
.avatar{
    overflow: hidden;
    img{
       width: 100%;
       border-radius: 6px;
    }
}

[class*="vcard"] {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.vcard-names {
  margin-top: 5px;
  line-height: 1;
}

.vcard-fullname {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
}

.vcard-userlogin {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.vcard-details {
  padding: 0px;
  margin-left:0px;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
  i{
    color:#b1b1b1;
  }
}

a.btn-primary{
  color:#fff !important;
}

h1.pull-left{
  margin:0 0 1em 0;
}

a.edit{
  color: #d58512 !important;
}

a.destroy{
  color:#d44950 !important;
}
.hilang{
  display: none;
}

.notif{
  clear: both;
}

// debug
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// table
td span{
  color:#9E9E9E;
  font-style: italic;
  font-size: 80%;
}

.autoov{
  overflow: auto;
}

// LIST
.list-group-item{
  overflow: hidden;
}

// WEBFONT ANIMATION
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

// HIDE ASIDE ON MOBILE
@media only screen and (max-width:960px){
  aside{
    display: none;
  }
}
// PRINT
@media print{

  body{
    border-top:none;
  }

  #header{
    display: none;
  }
  a{display: none}
  aside{
    display: none;
  }
  .editor{
    display: none;
  }
  .btn{
    display: none;
  }
  .hide_print{
    display: none !important;
  }
  td.ontime{
    background-color: #E0F9E0 !important;
    -webkit-print-color-adjust: exact; 
  }
  td.late{
    background-color: #F9E0E0 !important;
    -webkit-print-color-adjust: exact; 
  }
  table{
    font-size: 70% !important;
  }
  .autoov{
    overflow: visible;
  }
  .col-md-9{

  }
  footer{
    display: none;
  }
}
@page { 
    // size:210mm 297mm; 
    // margin: 0;
}

