<%= form_for(@machine) do |f| %>
  <% if @machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
      <% @machine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ip ,"IP"%><br>
    <%= f.text_field :ip,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :port ,"Port"%><br>
    <%= f.text_field :port,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :path ,"Path"%><br>
    <%= f.text_field :path,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :key ,"Key"%><br>
    <%= f.text_field :key,:class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan",:class=>"btn btn-primary"%>
  </div>
<% end %>
