<h1>Pengaturan Mesin Finger Print</h1>

<br>
  <ul class="list-group">
    <li class="list-group-item">IP : <strong><%= @machine.ip %></strong></li>
    <li class="list-group-item">Port : <strong><%= @machine.port %></strong></li>
    <li class="list-group-item">Path : <strong><%= @machine.path %></strong></li>
    <li class="list-group-item">Key : <strong><%= @machine.key %></strong></li>
  </ul>

<% if Machine.first.present? %>
  <%= link_to "Edit", edit_machine_path(@machine),:class=>"btn btn-primary" %>
<% else %>
  <%= link_to 'New Machine', new_machine_path ,:class=>"btn btn-primary"%>
<% end %>
