<tr id="education_<%= @education.id %>">      
  <td><%= @no%> </td>
  <td>
    <% if @education.education_level_id.present? %>
      <%= @education.education_level.name %>
    <% else %>
      -----
    <% end %>
  </td>
  
  <td><%= @education.number %></td>
  <td><%= @education.graduate %></td>
  <td><%= @education.departement %></td>
  <td><%= @education.year %></td>
  <td>
    <% if @education.document.present? %>
      <a href="<%= @education.document %>" target="_blank"style="color:green !important" data-image="<%= @education.document_url %>" >Ada</a>
    <% else %>
      <div style="color:red">Tidak ada</div>
    <% end %>
  </td>
  <td class="hide_print">
    <%= link_to 'Edit', edit_employee_education_path(@employee,@education) ,:class=>"edit edit_education",data: {remote: true,disable_with: "proses..."}%>
    <%= link_to 'Hapus', employee_education_path(@employee,@education), method: :delete, :class=>"destroy hapus_education",data: {remote: true, confirm: 'Ciyus mau di hapus?' ,disable_with: "proses..."} %></td>
  </td>
</tr>