
		<%= div_for education do %>
			<tr>
			  <td><%= @no%> </td>
		      <td><%= education.number %></td>
		      <td><%= education.graduate %></td>
		      <td><%= education.year %></td>
		      <td>
		        <% if education.document.present? %>
		          <div style="color:green">Ada</div>
		        <% else %>
		          <div style="color:red">Tidak ada</div>
		        <% end %>
		      </td>
      		</tr>
		<% end %>
