<%= form_for [@employee,@education],:html => {:multipart => true},:remote=>true do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :education_level_id, "Jenjang Pendidikan" %>
    <%= f.collection_select(:education_level_id,EducationLevel.all,:id,:name,{:prompt => 'pilih jenjang'}, :class=>"form-control",:required=>"required")%>
  </div>
  <div class="form-group">
    <%= f.label :number,"Nomor Surat Perjanjian Dinas" %><br>
    <%= f.text_field :number,:class => "form-control",:required=>"required" %>
  </div>
  <div class="form-group">
    <%= f.label :graduate ,"Nama Unit Pendidikan"%><br>
    <%= f.text_field :graduate,:class => "form-control" ,:required=>"required",:required=>"required" %>
  </div>
   <div class="form-group">
    <%= f.label :departement ,"Jurusan/Program"%><br>
    <%= f.text_field :departement,:class => "form-control" ,:required=>"required" %>
  </div>
  <div class="form-group">
    <%= f.label :year , "Tahun"%><br>
    <%= f.date_select :year ,:start_year=>1980,:end_year=>Date.today.year,:class => "form-control",:required=>"required" %>
  </div>
  <div class="form-group">
    <%= f.label :document, "Dokumen" %>
    <%= f.file_field :document ,:class=>"form-control" %>
  </div>
  <%= f.hidden_field :employee_id ,:class=>"form-control"%>
  <div class="actions">
    <%= f.submit "Simpan" ,:class=> "btn btn-primary"%>
  </div>
<% end %>
