<h2>Data Pendidikan</h1>

<table class="table">
  <thead>
    <tr>
       <th>No</th>
        <th>Jenjang</th>
        <th>No Surat Perjanjian</th>
        <th>Unit Pendidikan</th>
        <th>Jurusan</th>
        <th>Tahun Lulus</th>
        <th>Arsip</th>
        <th>Pegawai</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no = 1 %>
    <% @educations.each do |education| %>

      <tr>  
        <td><%= @no %></td>
        <td>
          <% if education.education_level_id.present? %>
            <%= education.education_level.name %>
          <% else %>
            -----
          <% end %>
        </td>
        <td><%= education.number %></td>
        <td><%= education.graduate %></td>
        <td><%= education.departement %></td>
        <td><%= education.year %></td>
        <td>
          <% if education.document.present? %>
            <div style="color:green">Ada</div>
          <% else %>
            <div style="color:red">Tidak ada</div>
          <% end %>
        </td>
        <td><%= education.employee.name %></td>
        <td><%= link_to 'Tampil', employee_education_path(education.employee,education) %></td>
        <td><%= link_to 'Edit', edit_employee_education_path(education.employee,education) %></td>
        <td><%= link_to 'Hapus', employee_education_path(education.employee,education), method: :delete, data: { confirm: 'Ciyus mau di hapus??' } %></td>
      </tr>
      <% @no = @no +1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Pendidikan', new_employee_education_path(1) %>
</h2>