
pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Pendidikan Berhasil ditambah kakak!</div>"

<% if @education.errors.any? %>
  $("#education_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  $('#education_modal').modal('hide')
  $('#educationData tr:last').after("<%= j render('data_created') %>");
  $('#educationData').before(pesan)
<% end %>
