pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Pendidikan Berhasil hapus kakak!</div>";


$('.hapus_education').bind('ajax:success', function() {
   $(this).closest('tr').slideUp();
});

$('#educationData').before(pesan);