$('.education_add_content').html('<%= j render("modal") %>');

$('#education_modal').modal();

$('#add_education').bind('ajax:success', function() {
	id = $(this).data('id');
	console.log("Pegawai ID =>"+id)
	$('input#education_employee_id').val(id)
});


console.log("Add edu")
