<p id="notice"><%= notice %></p>

<p>
  <strong>Nomor Surat:</strong>
  <%= @education.number %>
</p>

<p>
  <strong>Lulusan:</strong>
  <%= @education.graduate %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @education.year %>
</p>

<p>
  <strong>Pegawai :</strong>
  <%= @education.employee.name %>
</p>
<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
