pesan = "<div class=\"alert alert-success\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Data Pendidikan Berhasil diupdate kakak!</div>"
modal = $('#education_modal');
data = $('#educationData tr#education_<%= @education.id %>');

<% if @education.errors.any? %>
  $("#education_modal form").prepend('<%= escape_javascript(render("error_messages", :formats => [:html])) %>');
<% else %>
  data.children('td:nth-child(2)').html('<%= @education.education_level.name %>');
  data.children('td:nth-child(3)').html('<%= @education.number %>');
  data.children('td:nth-child(4)').html('<%= @education.graduate %>');
  data.children('td:nth-child(5)').html('<%= @education.departement %>');
  data.children('td:nth-child(6)').html('<%= @education.year %>');
   data.children('td:nth-child(7)').html('<% if @education.document.present? %><a style=\"color:green !important" href="<%= @education.document_url %>" target="_self">Ada</a><% else %><div style=\"color:red\">Tidak ada</div><% end %>');

  modal.modal('hide');
  $('#educationData').before(pesan);
<% end %>

  



// modal.remove();