<h3>Data Statistik Absensi</h3>

<hr>
<div class="hide_print">
<ul class="list-group">
  <li class="list-group-item">
  <%= form_for :report, url: stats_path,:remote => true, :html => { :method => 'GET' } do %>
    <div class="input-group">
      <span class="input-group-addon">
        Dari
      </span>

      <%= date_field(:report, :start,:class=>"form-control",:required=>true) %>
      <span class="input-group-addon">
        sampai
      </span>
      <%= date_field(:report, :end,:class=>"form-control",:required=>true) %>
      <span class="input-group-btn">
        <%= submit_tag "Cari", class: "btn btn-primary",name: nil,:remote=>true ,data: {disable_with: "Proses..." }%>
      </span>
    </div><!-- /input-group -->  
  <% end %>
  </li>
</ul>
</div>

<div id="report_result">

</div>
