<h3>
Laporan Absensi Pegawai <strong><%= @pegawai.name.titleize %></strong> 
<a class="btn btn-default pull-right" href="javascript:window.print()">Cetak</a>
</h3>
<p>Mulai dari <strong><%= I18n::localize(@start,:format=>"%A, %e %b %Y") %></strong> sampai <strong><%= I18n::localize(@end,:format=>"%A, %e %b %Y") %></strong></p>
<hr>

<div id="detilresultchart" data-stats="<%=raw @stats.to_json %>"></div>
<% @stats.to_json %>
<script >
$(document).ready(function(){
	// alert(JSON.stringify($('#detilresultchart').data('stats')))
	
	json_data = <%=raw @stats.to_json %>
	new Morris.Line({
	  element: 'detilresultchart',
	  data: json_data,
	  xkey: 'tanggal',
  ykeys: ['in','out'],
  labels: ['Masuk','Keluar']
	});
});
//]]>
</script>

<hr>

<div id="data"></div>
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>No</th>
				<th>Tanggal</th>
				<th>Masuk</th>
				<th>Keluar</th>
				<th>Keterangan</th>
			</tr>
		</thead>
		<tbody>
			<% @no = 1 %>
			<% @tanggal = [] %>
			<% @range.each do |tgl| %>
				<% #@tanggal << {:tanggal => tgl} %>
				<tr>
					<td style="width:40px"><%= @no %></td>
					<td style="width:200px"><%= I18n::localize(tgl,:format=>"%A, %e %b %Y")%></td>
					<% @absen = Presence.find_date_employee(tgl,@employee) %>
					<% 
					@in = "00:00"
					@out= "00:00"
					 %>
					<%  if @absen.present? %>
						<!-- IN -->
		      	<% if @rangein === @absen.in.strftime('%H:%M') %>
		      		<td style="background:#E0F9E0" class="ontime" style="width:50px">
		      	<% else %>
		      		<td style="background:#F9E0E0"class="late" style="width:50px">
		      	<% end %>
				      <%= @absen.in.strftime('%H:%M') %>
				      <% @in << @absen.in.strftime('%H:%M') %>
			      </td>
						
						<!-- OUT -->
			      <% if @rangeout === @absen.out.strftime('%H:%M') %>
		      		<td style="background:#E0F9E0" class="ontime" style="width:50px">
		      	<% else %>
		      		<td style="background:#F9E0E0"class="late" style="width:50px">
		      	<% end %>
				      <%= @absen.out.strftime('%H:%M') %>
				      <% @out << @absen.out.strftime('%H:%M') %>
			      </td>
			    <% else %>
			      <td style="width:50px">-</td>
			      <td style="width:50px">-</td>
		      <% end %>
					<td></td>
				</tr>
				<% @no = @no +1 %>
				<% @tanggal << {:tanggal=>tgl.strftime('%e %b %Y'),:in=> @in,:out => @out} %>
			<% end %>
			
		</tbody>
	</table>
</div>



