<h1>Singkronisasi <small>Dengan mesin fingerprint</small></h1>
<hr>
<p>Sebelum anda melakukan singkronisasi data, pastikan data pengaturan mesin sudah benar, karena akan mempengaruhi koneksi server dengan fingerprint!</p>
<div id="presence_notif"></div>
<ul class="list-group">
  <li class="list-group-item">

    <div id="statusfp" class="pull-left">
    	Tekan tombol Cek Status, untuk melakukan cek koneksi dengan fingerprint!
    </div> 

	<!-- <button id="syncfp" class="btn btn-sm btn-success pull-right" disabled="true">
    	<i class="glyphicon glyphicon-refresh"></i>
    	Sinkronisasi
    </button>  -->

    <%= link_to syncronize_path,:id=>"syncfp",:class=>"btn btn-xs btn-success pull-right",:style=>"color:#fff !important;text-decoration:none",:remote=>true,:disabled=>"true",data: {disable_with: "<i class=\"glyphicon glyphicon-refresh glyphicon-spin\"></i> Prosess..." } do %>
		<i class="glyphicon glyphicon-refresh"></i>
		Singkronisasi
	<% end %>
	
	<%= link_to checkfp_path,:id=>"repeat",:class=>"btn btn-xs btn-warning pull-right",:style=>"color:#fff !important;margin-right:5px;text-decoration:none",:remote=>true,data: {disable_with: "<i class=\"glyphicon glyphicon-repeat glyphicon-spin\"></i> Prosess..." } do %>
		<i class="glyphicon glyphicon-repeat"></i>
		Cek Status
	<% end %>
    
  </li>
  <li class="list-group-item">
  	Terakhir di singronisasi pada : <strong><%= sync.created_at %></strong>, oleh : <strong><%= sync.employee.name.titleize %></strong> 
    <%= link_to synclog_path, :class=>"btn btn-primary btn-xs pull-right",:style=>"color:#fff !important;text-decoration:none" do %>
      <i class="glyphicon glyphicon-list-alt"></i> Lihat semua data riwayat singkronisasi
    <% end %>
  </li>
  
</ul>






