<h1>
Laporan Absensi 
<a class="btn btn-default pull-right" href="javascript:window.print()">Cetak</a>
</h1>
<p>
	dari tanggal <strong><%= I18n::localize(@start,:format=>"%A, %e %b %Y") %></strong> sampai	<strong><%= I18n::localize(@end,:format=>"%A, %e %b %Y") %></strong>
</p>

<% 
# list all division
Division.all.each_with_index do |div,i| %>
<% 
#number index
@no = 1 
 %>
<h4><%= div.name %></h4>
<div class="table-responsive autoov" >
	<table class="table table-bordered" style="font-size:80%;width:100%">
	  <% 
	  # if first row
	  if i == 0 %>
	  <thead>
	    
	    <tr >
	      <th rowspan="2" style="width:36px">No</th>
	      <th rowspan="2">Nama</th>
	      <% 
	      # range date
	      @range.each do |date| %>
	      <th style="width:36px;text-align:center" colspan="2"><%= date.day %></th>
	      <% end %>
	      <th>S</th>
	      <th>I</th>
	      <th>A</th>
	    </tr>
	  </thead>
	  <% end %>

	  <tbody>
	    <% 

	    # loop employees by division
	    Employee.find_division(div.id).each do |peg| %>
	    <tr>
	      <td style="width:36px"><%= @no %></td>
	      <td style="width:202px">
	        <%=  peg.front_title+". " if peg.front_title.present? %><%= peg.name.titleize %><%= ", "+ peg.back_title if peg.back_title.present? %>
	      </td>
				
				<!-- daterange -->
	      <% @range.each do |date| %>

					<% @absen = Presence.find_date_employee(date,peg.id) #Presence.where(:date => date, :employee_id => peg.id) %>


		      <!-- IN -->
		      <%  if @absen.present? %>
						
		      	<% if @rangein === @absen.in.strftime('%H:%M') %>
		      		<td style="background:#E0F9E0" class="ontime">
		      	<% else %>
		      		<td style="background:#F9E0E0"class="late">
		      	<% end %>

				      <%= @absen.in.strftime('%H:%M') %>
			      </td>
						
						<!-- OUT -->
			      <% if @rangeout === @absen.out.strftime('%H:%M') %>
		      		<td style="background:#E0F9E0" class="ontime">
		      	<% else %>
		      		<td style="background:#F9E0E0"class="late">
		      	<% end %>
				      <%= @absen.out.strftime('%H:%M') %>
			      </td>
			    <% else %>
			      <td>-</td>
			      <td>-</td>
		      <% end %>
	      <% end %>

	    </tr>
	    <% @no= @no+1 %>
	    <% end %>
	  </tbody>

	</table>
</div>
<% end %>