<div class="hide_print">
<h2 class="">Absensi</h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="<%= 'active' if params['page'] == nil %>" ><a href="<%= presence_path %>" class="">Singkronisasi</a></li>
  <li class="<%= 'active' if params['page'] == 'report' %>"><a href="<%= presence_path(:page => 'report') %>" class="">Laporan Absensi</a></li>
  <li class="<%= 'active' if params['page'] == 'report_detail' %>"><a href="<%= presence_path(:page => 'report_detail') %>" class="">Laporan Detil</a></li>
  <li class="<%= 'active' if params['page'] == 'stats' %>"><a href="<%= presence_path(:page => 'stats') %>" class="">Statistik</a></li>
</ul>

</div>
<% if params['page'] == nil %>
  <%= render 'presence_syncronize' %>
<% elsif params['page'] == 'report' %>
  <%= render 'presence_report' %>
<% elsif params['page'] == 'report_detail' %>
  <%= render 'presence_detail' %>
<% elsif params['page'] == 'stats' %>
  <%= render 'presence_stats' %>
<% end %>