<div class="hide_print">
<h3>Detail Absensi <small>Pegawai</small></h3>
<hr>
<ul class="list-group">
  <li class="list-group-item">
  <%= form_for :report, url: details_path,:remote => true, :html => { :method => 'GET' } do %>
    <div class="input-group">
    	<%= hidden_field(:report, :employee_id,:value=>current_user.id) %>
      <span class="input-group-addon">
        dari
      </span>
      <%= date_field(:report, :start,:class=>"form-control",:required=>true) %>
      <span class="input-group-addon">
        sampai
      </span>
      <%= date_field(:report, :end,:class=>"form-control",:required=>true) %>
      <span class="input-group-btn">
        <%= submit_tag "Cari", class: "btn btn-primary",name: nil ,data: {disable_with: "Proses..." }%>
      </span>
    </div><!-- /input-group -->  
  <% end %>
  </li>
</ul>
</div>

<div id="detail_result">

</div>
