<h2>
Laporan absensi dari tanggal <strong><%= @start %></strong> sampai	<strong><%= @start %></strong>
<a class="btn btn-default pull-right" href="javascript:window.print()">Cetak</a>
</h2>


<h2>Grafik absensi </h2>
<div id="statschart" data-stats="<%=raw @stats.to_json %>"></div>
<script >

$(document).ready(function(){
	// alert(JSON.stringify($('#detilresultchart').data('stats')))
	json_stats = <%=raw @stats.to_json %>
	new Morris.Area({
	  element: 'statschart',
	  data: json_stats,
	  xkey: 'tanggal',
  ykeys: ['in','out','latein','lateout'],
  labels: ['Masuk','Keluar','Terlambat masuk','Terlambat keluar']
	});
});
//]]>
</script>

<!-- => STATSJSON -->
<% @stats.to_json %>

<h2>Statistik Absensi </h2>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Tanggal</th>
			<th>Tepat Waktu Masuk</th>
			<th>Terlambat Masuk</th>
			<th>Tepat Waktu Keluar</th>
			<th>Terlambat Keluar</th>
		</tr>
	</thead>
	<tbody>
		<% @range.each do |tgl| %>
		<tr>
			<td><%= tgl %></td>
			<% 
			@absensi = Presence.where(:date=>tgl)      
			@in = []
			@out = []	
			@latein = []
			@lateout=[]
			 %>
			
			<!-- loop in -->
			<% @absensi.each do |absen| %>
				<% 

				if @rangein === absen.in.strftime('%H:%M') 
					@in << 1
				else
					@latein << 1
				end

				if @rangeout === absen.out.strftime('%H:%M') 
					@out << 1
				else
					@lateout << 1
				end
				 %>

			<% end %>


			 <td><%= @in.count %> Pegawai</td>
			 <td><%= @latein.count %> Pegawai</td>
			 <td><%= @out.count %> Pegawai</td>
			 <td><%= @lateout.count %> Pegawai</td>
		</tr>
		<% end %>
	</tbody>
</table>