<!-- bagian aside -->
<% if current_user %>
<aside class="col-md-3">
  <div class="avatar">
    <% if current_user.employee.picture.present? %>
      <%= image_tag(current_user.employee.picture_url, :width => 150) %>
    <% else %>
      <%= image_tag("default-avatar.jpg") %>
    <% end %>
  </div>
  <h1 class="vcard-names">

    <span class="vcard-fullname"><%= current_user.employee.name.titleize %></span>
    <span class="vcard-userlogin">
      <%= current_user.employee.nik %>
    </span>
    <% image_tag("barcodes/barcode_#{current_user.employee.nik}.png", height: '45') %>
  </h1>
  <!-- detail akun -->
  <ul class="vcard-details">
  <!-- jurusan bagi mahasiswa atau status pekerjaan bagi pegawai -->
    <li>
        <i class="glyphicon glyphicon-briefcase"></i> Dosen  
    </li>
    <li>
      <i class="glyphicon glyphicon-envelope"></i> 
      <% if logged_in? %>
      <a href="mailto:<%= current_user.employee.mail %>">
          <%= current_user.employee.mail %>
      </a>
      <% end %>
    </li>
    <!-- PA/Status Kerja -->
    <li>
      <% if logged_in? %>
        <i class="glyphicon glyphicon-link"></i> <strong>
          <% if current_user.employee.status != false %>
            Aktif
          <% else %>
            Tidak Aktif
          <% end %>
        </strong>
      <% end %>
    </li>
    <!-- Angkatan/Mulai Kerja -->
    <li>
        <i class="glyphicon glyphicon-time"></i> Mulai kerja 08 Aug 12
    </li>
    
  </ul>
</aside>
<% end %>