<!DOCTYPE html>
<html>
<head>
  
  
  <title><%= @title || "Kepegawaian" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    
    <%= render 'layouts/aside' %>
    
    <!-- konten -->
    <section class="col-md-9">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%=  msg %>
        </div>
      <% end %>

      <%= yield %>
    </section>
  </div>
  <div class="hide_print">
  <hr style="margin-bottom:0">
  </div>
  <%= render 'layouts/footer' %>
  <% debug(params) if Rails.env.development? %>
</div>


</body>
</html>
