<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  <title>Kepegawaian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Sistem Informasi Kepegawaian  <br> Universitas Muhammadiyah Banjarmasin</h1>
        <h1 class="mobile">SIMPEG UMBJM</h1>
        <p>
          Selamat Datang Di Website Sistem Informasi Kepegawaian Universitas Muhammadiyah Banjarmasin. Website ini menyediakan akses bagi pegawai untuk melakukan proses administrasi, silahkan masuk melalui login form di sebelah kanan.
        </p>
      </div>
      <div class="col-md-4">
        <p><%= notice %></p>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, class: "alert alert-#{name}" do%>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= msg %>
          <% end %>
        <% end %>
        
        <%= yield %>
      </div>
      
    </div>
  </div>

</body>
</html>
